<div class="earnings_index">
  <table class="table_base">
    <% @earnings.group_by(&:year).sort_by(&:first).reverse.each do |year, earnings| -%>
      <% earnings.sort_by(&:month).reverse.each_with_index do |earning, index| -%>
        <tr>
          <% if index.zero? -%>
            <td rowspan="<%= earnings.size %>" class="clickable numeric">
              <%= year %>
            </td>
            <td rowspan="<%= earnings.size %>" class="clickable numeric">
              <%= earnings.map(&:total).sum %>
            </td>
          <% end -%>
          <td class="hideable numeric"><%= earning.month %></td>
          <td class="hideable numeric"><%= earning.total %></td>
          <td class="hideable"><%= results_display(earning.results) %></td>
        </tr>
      <% end -%>
    <% end -%>
  </table>
</div>
