<div class="earnings_index">
  <table class="table_base">
    <% @earnings.group_by(&:year).sort_by(&:first).reverse.each do |year, earnings| -%>
      <% earnings.sort_by(&:month).reverse.each_with_index do |earning, index| -%>
        <tr>
          <% if index.zero? -%>
            <td rowspan="<%= earnings.size %>" class="clickable numeric">
              <%= "#{year}年目" %>
            </td>
            <td rowspan="<%= earnings.size %>" class="clickable numeric">
              <%= earning_display(earnings.map(&:total).sum) %>
            </td>
          <% end -%>
          <td class="hideable numeric"><%= "#{earning.month}月" %></td>
          <td class="hideable numeric"><%= earning_display(earning.total) %></td>
          <td class="hideable"><%= results_display(earning.results) %></td>
          <% if index.zero? -%>
            <td rowspan="<%= earnings.size %>" class="hideable">
              <%= total_by_racer_display(earnings) %>
            </td>
          <% end -%>
        </tr>
      <% end -%>
    <% end -%>
  </table>
</div>
