<div class="mares_potentials">
  <table class="table_base">
    <thead>
      <tr>
        <th colspan="3">
        <th>価格</th>
        <th>母</th>
        <th>母母</th>
        <th>母母母</th>
        <th>G1勝利</th>
        <th>ﾆｯｸｽ</th>
        <th>面白</th>
        <th>ﾆｸ&amp;面</th>
        <th colspan="4">面白系統</th>
        <th>G1勝利レース名</th>
      </tr>
    </thead>
    <tbody>
      <% prev_mare = nil -%>
      <% @mares.each do |mare| -%>
        <% ranch_mare = mare.ranch_mare
           racer = mare.racer_before_retire-%>
        <tr class="<%= prev_mare&.ranch_mare && !ranch_mare ? 'border_top_thick' : '' %>">
          <td><%= link_to mare, matings_path(mare_id: mare), target: '_blank', tabindex: -1 %></td>
          <td class="age"><%= (ranch_mare || racer).age %></td>
          <td><%= !ranch_mare && racer&.to_be_retired? ? '引退' : '' %></td>
          <td><%= mare.price %></td>
          <% mother = racer&.mother
             grandmother = mother&.racer_before_retire&.mother -%>
          <td><%= mother %></td>
          <td><%= grandmother %></td>
          <td><%= grandmother&.racer_before_retire&.mother %></td>
          <td class="g1_wins"><%= g1_wins_display(:count, racer) %></td>
          <td class="count"><%= mare.count_nicks %></td>
          <td class="count"><%= mare.count_interesting %></td>
          <td class="count"><%= mare.count_nicks_and_interesting %></td>
          <% mare.root_lineage_numbers.each do |number| -%>
            <td class="root_lineage_number option"><%= number %></td>
          <% end -%>
          <td><%= g1_wins_display(:names, racer) %></td>
        </tr>
        <% prev_mare = mare -%>
      <% end -%>
    </tbody>
  </table>
</div>
