<div class="racer_name_samples_table_by_type" data-type="<%= type %>">
  <table>
    <caption><%= t(".#{type}") %></caption>
    <tbody>
      <% if samples.nil? -%>
        <tr><td>データがありません</td></tr>
      <% else -%>
        <% samples.each_slice(5) do |samples_in_row| -%>
          <tr>
            <% samples_in_row.each do |sample| -%>
              <td id="name_sample-<%= sample.id %>"
                  class="name_sample <%= sample.id == flash[:sample_id] ? 'created' : '' %>"
                  title="<%= "ID=#{sample.id}" %>"
                  draggable="true">
                <%= sample %>
              </td>
              <td><%= link_to '削除', sample, method: :delete %></td>
            <% end -%>
          </tr>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
</div>
