<div class="racer_name_samples_index">
  <table>
    <tbody>
      <% @samples.each do |sample| -%>
        <tr>
          <td><%= sample %></td>
          <td><%= link_to '削除', sample, method: :delete %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <hr>

  <%= form_with model: @new_sample, local: true do |f| %>
    <%= f.text_field :name, autofocus: true %>
    <% length = @new_sample.name.to_s.length -%>
    <span id="name_length"><%= length.zero? ? '' : length %></span>
    <%= f.submit %>
  <% end -%>
</div>
