<div class="racer_name_samples_index">
  <% if @samples -%>
    <%= render partial: 'table_grouped', locals: {item_name: nil, samples: @samples} %>
  <% else -%>
    <% RacerNameSample.send(@enum_name.pluralize).keys.each do |item_name| -%>
      <%= render partial: 'table_grouped', locals: {item_name: item_name, samples: @samples_by_group[item_name]} %>
    <% end -%>
  <% end -%>

  <hr>

  <%= form_with url: racer_name_samples_path, local: true do |f| %>
    <% if @names.size > 0 -%>
      <div class="error">既に存在します</div>
    <% end -%>
    <%= text_field_tag :names, @names, autofocus: true %>
    <% length = @names.length -%>
    <span id="name_length"><%= length.zero? ? '' : length %></span>
    <%= f.submit %>
  <% end -%>
</div>
