<div class="racer_name_samples_index">
  <% if @samples -%>
    <%= render partial: 'table_by_type', locals: {type: nil, samples: @samples} %>
  <% else -%>
    <% RacerNameSample.types.keys.each do |type| -%>
      <%= render partial: 'table_by_type', locals: {type: type, samples: @samples_by_type[type]} %>
    <% end -%>
  <% end -%>

  <hr>

  <%= form_with model: @new_sample, local: true do |f| %>
    <% if RacerNameSample.exists?(name: @new_sample.name) -%>
      <div class="error">既に存在します</div>
    <% end -%>
    <%= f.text_field :name, autofocus: true %>
    <% length = @new_sample.name.to_s.length -%>
    <span id="name_length"><%= length.zero? ? '' : length %></span>
    <%= f.submit %>
  <% end -%>

  <table class="combinations">
    <tbody>
      <% RacerNameSample.combinations(10).each do |names| -%>
        <tr>
          <% names.each do |name| -%>
            <td><%= name %></td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
