<%
  unless defined?(names_to_reject)
    names_to_reject = []
  end
-%>

<% names_shown = [] -%>
<table class="racer_name_candidates">
  <% @mating.racer_name_candidates(
       num: 25,
       names_from: names_for_candidates,
       sex: sex,
       names_to_reject: names_to_reject
     ).each do |name, distance, father_name| -%>
    <% names_shown << name -%>
    <tr>
      <td class="link">
        <span class="dismiss button"
              data-mare_id="<%= @mating.mare.id %>"
              data-sire_id="<%= @mating.sire.id %>"
              data-names_for_candidates="<%= names_for_candidates.join(',') %>"
              data-sex="<%= sex %>">
          X
        <span>
      </td>
      <td class="name"><%= name %></td>
      <td class="link">
        <%= link_to '削除',
              racer_name_sample_path(RacerNameSample.find_by(name: name), url_back: request.fullpath),
              method: :delete,
              data: {confirm: "競走馬名候補「#{name}」を削除してよろしいですか？"} %>
      </td>
      <td class="distance"><%= sprintf("%5.3f", distance) %></td>
      <td class="father_name"><%= "<= #{father_name}" %></td>
    </tr>
  <% end -%>
</table>

<div style="width: 300px; margin-top: 10px;">
  <%= RacerNameSample.all_by(sex: sex, num: 10, names_to_reject: names_shown).join('、') %>
</div>
