<%
  unless defined?(sex)
    sex = nil
  end
-%>

<div class="matings_show">
  <%= render partial: 'mating', locals: {mare: @mare, sire: @sire, sex: sex} %>

  <div class="links">
    <% mare_from_mating = Mare.find_by_mating_of(@mare, @sire) -%>
    <% if mare_from_mating -%>
      <%= link_to '代重ね配合', matings_path(mare_id: mare_from_mating) %>
    <% else -%>
      <%= button_to '繁殖牝馬に', create_mare_mating_path(@mare, sire_id: @sire) %>
    <% end -%>
    <%= link_to 'Back', matings_path(mare_id: @mare, ranch_id: @ranch&.id) %>
  </div>

  <% if @in_list && @mating_list.size > 1 -%>
    <div class="in_list">
      <%= link_to "< #{@mating_list.prev_of(@mating).mating}",
                    prev_mating_list_path(mare_id: @mating.mare.id, sire_id: @mating.sire.id),
                    id: 'to_prev_mating' %>
      <%= link_to "#{@mating_list.next_of(@mating).mating} >",
                    next_mating_list_path(mare_id: @mating.mare.id, sire_id: @mating.sire.id),
                    id: 'to_next_mating' %>
    </div>
  <% end -%>
</div>
