<div class="matings_show">
  <div style="display: flex;">
    <div class="sire">
      <%= render partial: 'sire', locals: {sire: @sire} %>
    </div>

    <div class="mare">
      <%= render partial: 'mare', locals: {mare: @mare} %>
    </div>

    <div class="mating">
      <table class="table_base">
        <tr>
          <th>ニックス</th>
          <td class="value"><%= @mating.nicks? ? '〇': '×' %></td>
          <th>面白い</th>
          <td class="value"><%= @mating.interesting? ? '〇': '×' %></td>
        </tr>
        <tr>
          <td colspan="4" class="inbreed_display">
            <% inbreed = @mating.inbreed_display.gsub(', ', '<br>').html_safe -%>
            <%= inbreed.blank? ? '（アウトブリード）' : inbreed %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <%= link_to 'Back', matings_path(mare_id: @mare, ranch_id: @ranch&.id) %>

  <% if @in_list && @mating_list.size > 1 -%>
    <div class="in_list">
      <%= link_to "< #{@mating_list.prev_of(@mating)}", prev_mating_list_path(mare_id: @mating.mare.id, sire_id: @mating.sire.id), id: 'to_prev_mating' %>
      <%= link_to "#{@mating_list.next_of(@mating)} >", next_mating_list_path(mare_id: @mating.mare.id, sire_id: @mating.sire.id), id: 'to_next_mating' %>
    </div>
  <% end -%>
</div>
