<div class="matings_show">
  <div class="name">
    <%= @sire.name %>
  </div>

  <%= render partial: 'bloodline', locals: {horse: @sire} %>

  <div class="name">
    <%= @mare.name %>
  </div>

  <%= render partial: 'bloodline', locals: {horse: @mare} %>

  <%= link_to 'Back', matings_path(mare_id: @mare, ranch_id: @ranch&.id) %>
</div>
