<div class="mare_lists_show">
  <%= form_with url: mare_list_path, method: :patch, local: true do |f| %>
    <table>
      <tbody>
        <% (@mares + [nil] * 10)[0 .. 9].each do |mare| -%>
          <tr>
            <% if mare -%>
              <td><%= link_to mare, matings_path(mare_id: mare), target: '_blank' %></td>
              <td><%= link_to '削除', delete_mare_list_path(mare_id: mare) %>
            <% else -%>
              <td colspan="2">
                <input type="search" name="mares[]" value="<%= @mare %>" autocomplete="on" list="mother_candidates" autofocus>
              </td>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <%= f.submit %>
  <% end -%>

  <%= button_to '全削除', mare_list_path, method: :delete, data: {confirm: "全削除？"}, tabindex: -1 %>

  <%= render 'mother_candidates' %>
</div>
