<div class="ranch_mares_new">
  <%= form_with model: @ranch_mare, local: true do |f| %>
    <div class="field">
      <%= f.label :mare %>
      <input type="search" name="ranch_mare[mare]" autocomplete="on" list="mother_candidates">
    </div>
    <div class="field">
      <%= f.label :age %>
      <%= f.text_field :age %>
    </div>

    <%= f.hidden_field :ranch_id %>

    <div class="actions">
      <%= f.submit %>
      <%= link_to 'Cancel', @ranch_mare.ranch %>
    </div>
  <% end -%>

  <%= render 'mother_candidates' %>
</div>
