<% mare = @ranch_mare.mare -%>

<div class="ranch_mares_show">
  <div class="form">
    <div>
      <table class="table_base">
        <tr>
          <td><%= mare %></td>
          <td><%= "#{@ranch_mare.age}歳" %></td>
        </tr>
      </table>

      <%= form_with url: update_remark_ranch_mare_path(@ranch_mare), local: true, method: :patch do |f| %>
        <%= f.label '産駒名候補など' %>
        <%= f.text_field :remark, value: @ranch_mare.remark, size: 40, autofocus: true, class: 'allows_shortcut' %>
        <%= f.submit %>
      <% end -%>
    </div>

    <div class="racers">
      <%= render partial: 'birth_pieces', locals: {mare: mare} %>
    </div>
  </div>

  <div class="mating">
    <% if @ranch_mare.sire -%>
      <%= render partial: 'mating', locals: {mare: mare, sire: @ranch_mare.sire} %>
    <% else -%>
      <%= render partial: 'mare', locals: {mare: mare} %>
    <% end -%>
  </div>

  <div class="links">
    <%= link_to 'Back', ranch_path(@ranch_mare.ranch), data: {shortcut: 'b'}, tabindex: -1 %>
    <div class="links_to_mares">
      <% @ranch_mares.each.with_index(1) do |ranch_mare, index| -%>
        <%= ranch_mare_link(ranch_mare, index) %>
        <% if index == 4 -%>
          <br>
          <div class="spacer">
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>
