<% mare = @ranch_mare.mare -%>

<div class="ranch_mares_show">
  <div class="form">
    <div>
      <table class="table_base">
        <tr>
          <td><%= mare %></td>
          <td><%= "#{@ranch_mare.age}歳" %></td>
          <td><%= "#{mare.lineage}系" %></td>
        </tr>
      </table>

      <%= form_with url: update_remark_ranch_mare_path(@ranch_mare), local: true, method: :patch do |f| %>
        <%= f.label '産駒名候補など' %>
        <%= f.text_field :remark, value: @ranch_mare.remark, size: 40, class: 'allows_shortcut',
                                  data: {orig_value: @ranch_mare.remark}, autofocus: true %>
        <%= f.submit %>
      <% end -%>
    </div>

    <div class="racers">
      <%= render partial: 'birth_pieces', locals: {mare: mare} %>
    </div>
  </div>

  <div class="mating">
    <% if @ranch_mare.sire -%>
      <% names_for_candidates = StringUtil.extract_horse_names(@ranch_mare.remark) -%>
      <%= render partial: 'mating', locals: {mare: mare, sire: @ranch_mare.sire,
                                             names_for_candidates: names_for_candidates} %>
    <% else -%>
      <%= render partial: 'mare', locals: {mare: mare} %>
    <% end -%>
  </div>

  <div class="links">
    <%= link_to 'Back', ranch_path(@ranch_mare.ranch), data: {shortcut: 'b'}, tabindex: -1 %>
    <%= link_to '種付', matings_path(mare_id: mare, ranch_id: @ranch_mare.ranch), target: '_blank', tabindex: -1 %>

    <div>
      <%= link_to ' ', @prev_mare, data: {shortcut: 'k'}, tabindex: -1 %>
      <%= link_to ' ', @next_mare, data: {shortcut: 'j'}, tabindex: -1 %>
    </div>

    <div class="links_to_mares">
      <% @ranch_mares.each.with_index(1) do |ranch_mare, index| -%>
        <%= ranch_mare_link(ranch_mare, index) %>
        <% if index == 4 -%>
          <br>
          <div class="spacer">
        <% end -%>
      <% end -%>
    </div>
  </div>
</div>
