<div class="results_multiple_entries">
  <table>
    <% @array_of_results.each do |results| -%>
      <% result = results.first
         race = result.race -%>
      <tr>
        <td><%= "#{result.year}年" %></td>
        <td><%= race.name %></td>
        <% results.each do |result| -%>
          <% place = result.place
             clazz = "place_#{place}" -%>
          <td class="<%= clazz %> numeric">
            <%= "#{place}着" %>
          </td>
          <td class="<%= clazz %>">
            <%= result.racer %>
          </td>
        <% end -%>
    <% end -%>
  </table>
</div>
