<% num_months = 6
   month_end = @ranch.month
   months = (month_end - num_months + 1 .. month_end).to_a.map { |m| (m + 12 - 1) % 12 + 1 } -%>

<table id="conditions" class="table_base">
  <thead>
    <tr>
      <th rowspan="2" colspan="2" class="border_bottom_thick border_right_thick">
      <% months.each do |month| -%>
        <th colspan="4" class="centered <%= month == @ranch.month ? 'current' : '' %>">
          <%= "#{month}月" %>
        </th>
      <% end -%>
      <th rowspan="2" class="border_bottom_thick border_left_thick border_right_thick">体重</th>
    </tr>
    <tr>
      <% months.each do |month| -%>
        <% (1 .. 4).each do |week| -%>
          <th class="<%= @ranch.in_week_of?(month, week) ? 'current' : '' %>">
            <%= week %>
          </th>
        <% end -%>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @racers.each.with_index(1) do |racer, index| -%>
      <% next unless racer.in_stable? -%>
      <tr class="racer" data-racer_id="<%= racer.id %>">
        <td class="<%= racer.expecting_race? ? 'expecting_race' : '' %>">
          <%= index < 10 ? index : ('a'.ord + index - 10).chr.upcase %>
        </td>
        <td class="racer_name border_right_thick">
          <%= racer %>
        </td>
        <% months.each do |month| -%>
          <% age = racer.age - (month > month_end ? 1 : 0) -%>
          <% (1 .. 4).each do |week| -%>
            <% result = racer.result_in(age, month, week)
               result_to_s = result.nil? ? ""
                           : "#{result.race.name} #{result.race.distance_to_s} #{result.place}着"
               is_current_week = @ranch.in_week_of?(month, week) -%>
            <td class="centered <%= result ? (is_current_week ? 'race_coming' : 'race') : '' %>"
                title="<%= result_to_s %>">
              <% if is_current_week -%>
                <%= form_for_weekly(racer) %>
              <% else -%>
                <%= racer.weeklies.find_by(age: age, month: month, week: week)&.condition %>
              <% end -%>
            </td>
          <% end -%>
        <% end -%>
        <td class="weight_best border_left_thick border_right_thick"><%= racer.weight_best %></td>
        <% racer.coming_races.map(&:race).sort_by { |race|
             race.month_week.ordering_from(@ranch.month_week)
           }.each do |race| -%>
          <% n_weeks_between = racer.results.empty? ? nil \
                                  : "#{race.month_week - racer.results.last.race.month_week}w" -%>
          <td class="numeric border_left_thick"><%= race.month_week %></td>
          <td class="numeric"><%= n_weeks_between %></td>
          <%= race_display(race, racer) %>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
