<% num_months = 6
   month_end = @ranch.month
   months = (month_end - num_months + 1 .. month_end).to_a.map { |m| (m + 12 - 1) % 12 + 1 } -%>

<table id="conditions" class="table_base">
  <thead>
    <tr>
      <th rowspan="2" colspan="2" class="border_bottom_thick border_right_thick">
      <% months.each do |month| -%>
        <th colspan="4" class="centered <%= month == @ranch.month ? 'current' : '' %>">
          <%= "#{month}月" %>
        </th>
      <% end -%>
      <th rowspan="2" class="border_bottom_thick border_left_thick border_right_thick">入厩</th>
      <th rowspan="2" class="border_bottom_thick border_left_thick border_right_thick">遠征</th>
      <th rowspan="2" class="border_bottom_thick border_left_thick border_right_thick" colspan="2">体重</th>
    </tr>
    <tr>
      <% months.each do |month| -%>
        <% (1 .. 4).each do |week| -%>
          <th class="<%= @ranch.in_week_of?(month, week) ? 'current' : '' %>">
            <%= week %>
          </th>
        <% end -%>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @racers.each.with_index(1) do |racer, index| -%>
      <% next unless racer.in_stable? -%>
      <tr class="racer" data-racer_id="<%= racer.id %>">
        <td class="centered
                   <%= racer.injury ? 'injured'
                     : racer.expecting_race? ? 'expecting_race'
                     : racer.condition.nil? ? 'no_condition'
                     : '' %>">
          <%= index < 10 ? index : ('a'.ord + index - 10).chr.upcase %>
        </td>
        <td class="racer_name border_right_thick">
          <%= racer %>
        </td>
        <% months.each do |month| -%>
          <% age = racer.age - (month > month_end ? 1 : 0) -%>
          <% (1 .. 4).each do |week| -%>
            <% result = racer.result_in(age, month, week)
               result_to_s = result.nil? ? ""
                           : "#{result.race.name} #{result.race.distance_to_s} #{result.place}着"
               is_current_week = @ranch.in_week_of?(month, week) -%>
            <td class="centered <%= result ? (is_current_week ? 'race_coming' : 'race') : '' %>"
                aria-label="<%= result&.race %>">
              <% if is_current_week -%>
                <%= form_for_weekly_condition(racer) %>
              <% elsif result -%>
                <%= result.place %>
              <% else -%>
                <%= racer.condition_in(age, month, week) %>
              <% end -%>
            </td>
          <% end -%>
        <% end -%>
        <td class="numeric border_left_thick border_right_thick">
          <%= "#{racer.weeks_in_stable}w" %>
        </td>
        <td class="border_left_thick border_right_thick <%= racer.injury ? 'injured' : '' %>">
          <%= racer.injury&.description || racer.course_staying %>
        </td>
        <td style="padding: 0;">
          <%= form_for_weekly_weight(racer) %>
        </td>
        <td class="weight_best border_left_thick border_right_thick">
          <%= racer.weight_best %>
        </td>
        <%= render partial: 'racers/coming_races', locals: {racer: racer, num_races: 2} %>
      </tr>
    <% end -%>
  </tbody>
</table>
