<% shows_results = racers.any? { |racer| racer.results.size > 0 } -%>

<table class="all_racers table_base">
  <thead>
    <tr>
      <th colspan="4">
      <th colspan="2">父</th>
      <th colspan="2">母</th>
      <th>点</th>
      <th>ニ</th>
      <th>面</th>
      <th>インブリード</th>
      <% if shows_results -%>
        <th>引退時クラス</th>
        <% racer_attr_names(is_active: false).each do |name| -%>
          <th class="default"><%= Racer.human_attribute_name(name) %></th>
        <% end -%>
        <th>戦績</th>
        <th>本賞金</th>
        <th class="optional1" hidden>主な勝鞍</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% prev_racer = nil -%>
    <% racers.each.with_index(1) do |racer, index| -%>
      <tr class="<%= "age-#{racer&.age}" %>
                 <%= prev_racer&.stable && racer&.is_active && !racer.stable ? 'border_top_thick' : '' %>">
        <% prev_racer = racer -%>
        <% unless racer -%>
          <td colspan="18">&nbsp;</td>
          <% next -%>
        <% end -%>
        <td class="numeric <%= !racer.is_active || racer.stable ? '' : 'not_stabled' %>">
          <%= link_to index - (racer.is_active ? 1 : 0), racer %>
        </td>
        <td><%= racer_name_display(racer, nil) %></td>
        <%= racer_sex_display_in_td(racer) %>
        <td class="numeric"><%= "#{racer.age}歳" %></td>
        <% father, mother = racer.father, racer.mother -%>
        <td><%= father %></td>
        <td class="centered"><%= father.trait.stability %></td>
        <td><%= mother %></td>
        <td class="centered"><%= "#{mother.speed} #{mother.stamina}" %></td>
        <% mating = Mating.new(mother, father)
           inbreed = mating.inbreed_display
           inbreed = '（アウトブリード）' if inbreed.blank? -%>
        <td class="numeric">
          <%= mating.score %>
        </td>
        <td class="centered">
          <%= mating.nicks? ? '〇' : '×' %>
        </td>
        <td class="centered">
          <%= mating.interesting? ? '〇' : '×' %>
        </td>
        <td title="<%= inbreed %>">
          <%= inbreed.sub(/, [^.].*/, ', ...') %>
        </td>
        <% if shows_results -%>
          <td>
            <%= "#{racer.results.last.age}歳 #{racer.grade}" if racer.results.last %>
          </td>
          <% racer_attr_names(is_active: false).each do |name| -%>
            <%= racer_attr_display_in_td(racer, name, nil) %>
          <% end -%>
          <td class="centered">
            <%= racer.place_records.join('-') %>
          </td>
          <td class="numeric">
            <%= monetary_display(racer.net_prize) %>
          </td>
          <td class="optional1 allows_wrap" hidden>
            <%= major_wins_display(racer) %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
