<table id="conditions" class="table_base">
  <thead>
    <tr>
      <th rowspan="2" class="border_bottom_thick border_right_thick">
      <% (1 .. 12).each do |month| -%>
        <th colspan="4" class="centered <%= month == @racer.ranch.month ? 'current' : '' %>">
          <%= "#{month}月" %>
        </th>
      <% end -%>
    </tr>
    <tr>
      <% (1 .. 12).each do |month| -%>
        <% (1 .. 4).each do |week| -%>
          <th class="<%= @racer.ranch.in_week_of?(month, week) ? 'current' : '' %>">
            <%= week %>
          </th>
        <% end -%>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% (3 .. @racer.age).each do |age| -%>
      <tr>
        <th class="border_right_thick"><%= "#{age}歳" %></th>
        <% (1 .. 12).each do |month| -%>
          <% (1 .. 4).each do |week| -%>
            <% weekly = @racer.weeklies.find_by(age: age, month: month, week: week) -%>
            <td class="condition
                       <%= age == @racer.age && @racer.ranch.in_week_of?(month, week) ? 'current' : '' %>
                       <%= @racer.race_in?(age, month, week) ? 'race' : '' %>"
                title="<%= weekly ? "id=#{weekly.id}" : "" %>">
              <%= weekly&.condition %>
            </td>
          <% end -%>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
