<% current_month_and_week = @racer.ranch.month_week.to_a
   age_month_and_weeks_of_races = @racer.results.map { |result| [result.age, result.race.month, result.race.week] }
   age_month_and_weeks_of_target_races = @racer.target_races.map(&:race).map(&:month_week).map(&:to_a)
     .map { |month, week|
       [
         @racer.age + (([month, week] <=> current_month_and_week) == -1 ? 1 : 0),
         month,
         week
       ]
     }
-%>

<table id="conditions" class="table_base">
  <thead>
    <tr>
      <th rowspan="2" class="border_bottom_thick border_right_thick">
      <% (1 .. 12).each do |month| -%>
        <th colspan="4" class="<%= month == current_month_and_week[0] ? 'current' : '' %>
                               <%= end_of_short_term?(month) ? 'border_right_thick' : '' %>">
          <%= "#{month}月" %>
        </th>
      <% end -%>
    </tr>
    <tr>
      <% (1 .. 12).each do |month| -%>
        <% (1 .. 4).each do |week| -%>
          <th class="<%= [month, week] == current_month_and_week ? 'current' : '' %>
                     <%= end_of_short_term?(month) && week == 4 ? 'border_right_thick' : '' %>">
            <%= week %>
          </th>
        <% end -%>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% month_to_display_next_year = 11
       age_end = @racer.active_age + (current_month_and_week.first >= month_to_display_next_year ? 1 : 0) -%>
    <% (3 .. age_end).each do |age| -%>
      <tr>
        <th class="border_right_thick"><%= "#{age}歳" %></th>
        <% (1 .. 12).each do |month| -%>
          <% (1 .. 4).each do |week| -%>
            <% weekly = @racer.weeklies.find_by(age: age, month: month, week: week)
               is_current_year = age == @racer.age
               is_target = age_month_and_weeks_of_target_races.include?([age, month, week]) -%>
            <td class="condition
                       <%= is_current_year && [month, week] == current_month_and_week ? 'current' : '' %>
                       <%= age_month_and_weeks_of_races.include?([age, month, week]) ? 'race' : '' %>
                       <%= is_target ? 'target' : '' %>
                       <%= end_of_short_term?(month) && week == 4 ? 'border_right_thick' : '' %>"
                id="<%= html_id_of_td_condition(age, month, week) %>"
                aria-label="<%= weekly ? "id=#{weekly.id}" : "" %>">
              <%= @racer.condition_in(age, month, week) || \
                    (age > @racer.age && month >= month_to_display_next_year \
                        ? nil \
                        : grade_abbr_of_target_races(@racer, month, week)) %>
            </td>
          <% end -%>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
