<tr>
  <td><%= link_to 'E', ranch_path(@ranch, racer_id_to_edit: racer) %></td>
  <td><%= racer_name_display(racer) %></td>
  <td><%= racer_sex_display(racer) %></td>
  <td class="numeric"><%= "#{racer.age}歳" %></td>

  <td><%= racer_attr_display(racer, :comment_age2, f) %></td>
  <td><%= racer_attr_display(racer, :comment_age3, f) %></td>
  <td class="centered" title="<%= racer.stable&.jockeys&.join(' ') %>">
    <%= racer_attr_display(racer, :stable, f) %>
  </td>
  <td class="numeric">
    <%= racer_attr_display(racer, :weight_fat, f) %>
  </td>
  <td class="numeric emphasized">
    <%= racer_attr_display(racer, :weight_best , f) %>
  </td>
  <td class="numeric">
    <%= racer_attr_display(racer, :weight_lean, f) %>
  </td>
  <td><%= racer_attr_display(racer, :remark, f) %></td>

  <% if f -%>
    <%= hidden_field_tag :ranch_id, @ranch.id %>

    <td>
      <%= f.submit %>
      <%= link_to 'Cancel', @ranch %>
    </td>
  <% end -%>
</tr>
