<div class="racers_racers">
  <table class="table_base">
    <thead>
      <tr>
        <th colspan="4">
        <th colspan="2">
        <th>本賞金</th>
        <% racer_attr_names.each do |name| -%>
          <th><%= Racer.human_attribute_name(name) %></th>
        <% end -%>
        <th>前走</th>
        <th colspan="2">
      </tr>
    </thead>
    <tbody>
      <% @racers.each.with_index(1) do |racer, index| -%>
        <tr>
          <% if racer.id == @racer_id_to_edit -%>
            <%= form_with model: racer, local: true do |f| %>
              <%= racer.errors.messages unless racer.errors.empty? %>
              <%= render partial: 'racers/racer', locals: {racer: racer, index: index, f: f} %>
            <% end -%>
            <td>
              <%= button_to '引退', retire_racer_path(racer), method: :patch, tabindex: -1,
                                      data: {confirm: "「#{racer.name}」を引退させますか？"} %>
            </td>
          <% else -%>
            <%= render partial: 'racers/racer', locals: {racer: racer, index: index, f: nil} %>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
