<%
  if index < 10
    shortcut_show = index.to_s
    shortcut_edit = %w[nil ! = # $ % & ' ( )][index]
  else
    shortcut_show = ('a'.ord + index - 10).chr
    shortcut_edit = shortcut_show.upcase
  end
-%>

<td class="<%= racer.expecting_race? ? 'expecting_race' \
             : racer.in_ranch ? 'in_ranch' \
             : !racer.stable  ? 'not_stabled' : '' %>">
  <%= link_to_if @racer_id_to_edit.zero?, shortcut_show.upcase, racer,
                                          data: {shortcut: shortcut_show}, tabindex: -1 %></td>
<td>
  <%= link_to_if @racer_id_to_edit.zero?, 'e', ranch_path(@ranch, racer_id_to_edit: racer),
                                          data: {shortcut: shortcut_edit}, tabindex: -1 %>
</td>
<td><%= racer_name_display(racer, f) %></td>
<td><%= racer_sex_display(racer) %></td>
<td class="numeric"><%= "#{racer.age}歳" %></td>
<%= racer_attr_display_in_td(racer, :grade, f) %>
<td class="numeric"><%= racer.stable ? racer.net_prize : nil %></td>
<% racer_attr_names.each do |name| -%>
  <%= racer_attr_display_in_td(racer, name, f) %>
<% end -%>

<% if f -%>
  <%= hidden_field_tag :ranch_id, @ranch.id %>

  <td>
  <td>
    <%= f.submit %>
    <%= link_to 'Cancel', @ranch, data: {shortcut: 'b'} %>
  </td>
<% else -%>
  <td class="numeric <%= racer.in_ranch ? 'in_ranch' : '' %>">
    <% results = racer.results.find_all(&:place) -%>
    <%= results.empty? && !racer.in_ranch \
          ? "" \
          : "#{@ranch.month_week - (racer.in_ranch ? racer.in_ranch.month_week
                                                   : results.last.race.month_week)}w" %>
  </td>
  <% unless racer.stable -%>
    <td colspan="2">
  <% else -%>
    <td>
      <%= form_for_weekly(racer) %>
    </td>
    <td>
      <%= button_to_graze(racer) %>
    </td>
  <% end -%>
  <% racer.coming_races.map(&:race).sort_by { |race|
       race.month_week.ordering_from(@ranch.month_week)
     }.each do |race| -%>
    <% n_weeks_between = racer.results.empty? ? nil \
                            : "#{race.month_week - racer.results.last.race.month_week}w" -%>
    <td class="numeric"><%= race.month_week %></td>
    <td class="numeric"><%= n_weeks_between %></td>
    <%= race_display(race, racer) %>
  <% end -%>
<% end -%>
