<%
  is_menu = false
  is_current_racer = false
  if f.is_a?(Racer)
    is_menu = true
    current_racer = f
    f = nil
    is_current_racer = racer == current_racer
    @racer_id_to_edit = is_current_racer ? -1 : 0
  end

  if racer.age == 1
    shortcut_show = index.to_s
    shortcut_edit = nil
  elsif index < 10
    shortcut_show = index.to_s
    shortcut_edit = %w[:not_used ! = # $ % & ' ( )][index]
  else
    shortcut_show = ('a'.ord + index - 10).chr
    shortcut_edit = shortcut_show.upcase
  end
-%>

<td class="<%= racer.expecting_race? ? 'expecting_race'
             : racer.in_ranch ? weeks_in_ranch_class(racer)
             : !racer.stable  ? 'not_stabled' : '' %>
           <%= is_menu && !racer.condition ? 'no_condition' : '' %>
           centered">
  <%= link_to_if @racer_id_to_edit.zero?, shortcut_show.upcase, racer,
                                          data: {shortcut: shortcut_show}, tabindex: -1 %>
</td>
<% unless is_menu -%>
  <td>
    <%= link_to_if @racer_id_to_edit.zero?, 'e', ranch_path(@ranch, racer_id_to_edit: racer),
                                            data: {shortcut: shortcut_edit}, tabindex: -1 %>
  </td>
<% end -%>

<td class="<%= is_current_racer ? 'current_racer' : '' %>">
  <%= racer_name_display(racer, f) %>
</td>
<td><%= racer_sex_display(racer) %></td>
<td class="numeric"><%= "#{racer.age}歳" %></td>
<%= racer_attr_display_in_td(racer, :grade, f) %>

<% if is_menu -%>
  <td class="<%= racer.in_ranch || racer.condition ? '' : 'no_condition' %> centered">
    <%= racer.in_ranch ? '' : (racer.condition || racer.default_condition) %>
  </td>
<% else -%>
  <td class="numeric <%= racer.earns_net_prize_last_week? ? 'earns_net_prize_last_week' : '' %>">
    <%= racer.stable ? racer.net_prize : nil %>
  </td>
  <% racer_attr_names.each do |name| -%>
    <%= racer_attr_display_in_td(racer, name, f) %>
  <% end -%>

  <% if f -%>
    <%= hidden_field_tag :ranch_id, @ranch.id %>

    <td>
    <td>
      <%= f.submit %>
      <%= link_to 'Cancel', ranch_path(@ranch, racer_id: racer), class: 'escapeable', data: {shortcut: 'b'} %>
    </td>
  <% else -%>
    <% if !racer.in_ranch -%>
      <td>
    <% else -%>
      <td class="numeric <%= weeks_in_ranch_class(racer) %>">
        <%= "#{racer.weeks_in_ranch}w" %>
      </td>
    <% end -%>

    <% if !racer.stable || @racer_id_to_edit > 0 -%>
      <td>
      <td class="border_right_thick">
    <% else -%>
      <td aria-label="<%= racer.name %>">
        <%= button_to_graze(racer) %>
      </td>
      <td class="border_right_thick" aria-label="<%= racer.name %>">
        <%= button_to_spa(racer) %>
      </td>
    <% end -%>
  <% end -%>
<% end -%>

<% if (@racer_id_to_edit < 1 && racer.stable && racer.in_ranch) || is_menu -%>
  <%= render partial: 'racers/coming_races', locals: {racer: racer, num_races: racer.in_ranch || is_menu ? 1 : 2} %>
<% end -%>
