<%
  is_menu = false
  is_current_racer = false
  if f.is_a?(Racer)
    is_menu = true
    current_racer = f
    f = nil
    is_current_racer = racer == current_racer
    @racer_id_to_edit = is_current_racer ? -1 : 0
  end

  if index < 10
    shortcut_show = index.to_s
    shortcut_edit = %w[nil ! = # $ % & ' ( )][index]
  else
    shortcut_show = ('a'.ord + index - 10).chr
    shortcut_edit = shortcut_show.upcase
  end
-%>

<td class="<%= racer.expecting_race? ? 'expecting_race' \
             : racer.in_ranch ? 'in_ranch' \
             : !racer.stable  ? 'not_stabled' : '' %>
           <%= is_menu && !racer.condition ? 'no_condition' : '' %>">
  <%= link_to_if @racer_id_to_edit.zero?, shortcut_show.upcase, racer,
                                          data: {shortcut: shortcut_show}, tabindex: -1 %></td>
<% unless is_menu -%>
  <td>
    <%= link_to_if @racer_id_to_edit.zero?, 'e', ranch_path(@ranch, racer_id_to_edit: racer),
                                            data: {shortcut: shortcut_edit}, tabindex: -1 %>
  </td>
<% end -%>

<td class="<%= is_current_racer ? 'current_racer' : '' %>">
  <%= racer_name_display(racer, f) %>
</td>
<%= racer_sex_display_in_td(racer) %>
<td class="numeric"><%= "#{racer.age}歳" %></td>

<% if is_menu -%>
  <td class="<%= racer.in_ranch || racer.condition ? '' : 'no_condition' %> centered">
    <%= racer.in_ranch ? '' : (racer.condition || racer.last_condition) %>
  </td>
<% else -%>
  <%= racer_attr_display_in_td(racer, :grade, f) %>
  <td class="numeric <%= racer.earns_net_prize_last_week? ? 'earns_net_prize_last_week' : '' %>">
    <%= racer.stable ? racer.net_prize : nil %>
  </td>
  <% racer_attr_names.each do |name| -%>
    <%= racer_attr_display_in_td(racer, name, f) %>
  <% end -%>

  <% if f -%>
    <%= hidden_field_tag :ranch_id, @ranch.id %>

    <td>
    <td>
      <%= f.submit %>
      <%= link_to 'Cancel', @ranch, class: 'escapeable', data: {shortcut: 'b'} %>
    </td>
  <% else -%>
    <% unless racer.in_ranch -%>
      <td>
    <% else -%>
      <% weeks = @ranch.month_week - racer.in_ranch.month_week
         clazz = weeks > 4 ? 'overstay_in_ranch' : weeks == 4 ? 'ready_to_be_stabled' : 'in_ranch' -%>
      <td class="numeric <%= clazz %>">
        <%= "#{weeks}w" %>
      </td>
    <% end -%>

    <% unless racer.stable -%>
      <td>
    <% else -%>
      <td>
        <%= button_to_graze(racer) %>
      </td>
    <% end -%>
  <% end -%>
<% end -%>
