<% rows_between_headers = 10 -%>

<table id="results" class="table_base <%= Racer.all_training_done? ? 'ready_for_race' : '' %>">
  <thead>
    <%= render 'results_header' %>
  </thead>
  <tbody>
    <% @racer.results.each_with_index do |result, index| -%>
      <% if index > 0 && index % rows_between_headers == 0 -%>
        <%= render 'results_header' %>
      <% end -%>

      <%= render partial: 'result_in_tr', locals: {result: result} %>

      <% if post_race = result.post_race -%>
        <% if @post_race -%>
          <td colspan="24">
            <%= render partial: 'post_race_form', locals: {post_race: @post_race} %>
          </td>
          <td colspan="2">
            <%= button_to '削除', @post_race, method: :delete, class: 'destroy' %>
          </td>
        <% else -%>
          <td colspan="25" class="centered">
            <span class="post_race_comment"><%= post_race.comment %></span>
          </td>
          <td><%= link_to 'e', edit_post_race_path(post_race), tabindex: -1 %></td>
        <% end -%>
      <% end -%>
    <% end -%>

    <% unless @racer.expecting_race? -%>
      <tr>
        <%= form_with url: create_result_racer_path(@racer), local: true do |f| %>
          <td class="numeric"><%= @racer.age %></td>
          <td class="numeric"><%= @racer.ranch.month_week %></td>
          <td colspan="15">
            <%= select_tag :race_id, race_options_for_select_for(@racer), tabindex: -1 %>
            <%= f.submit 'Enter', tabindex: -1 %>
          </td>
        <% end -%>

        <td colspan="9">
          <%= render partial: 'post_race_form', locals: {post_race: PostRace.new} %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
