<div id="racers_traits">
  <table class="table_base">
    <tr>
      <th>父</th>
      <% father = @racer.father -%>
      <td><%= sire_display(father) %></td>
    </tr>
    <tr>
      <% mother = @racer.mother
         mating = Mating.new(mother, father)
         inbreed = mating.inbreed_display.gsub(', ', '<br>').html_safe -%>
     <td colspan="2">
       <%= inbreed.blank? ? '（アウトブリード）' : inbreed %>
     </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= "ニックス #{mating.nicks? ? '○' : '×'}、面白 #{mating.interesting? ? '○' : '×'}" %>
      </td>
    </tr>
    <tr>
      <th>母</th>
      <td><%= safe_join([mother&.name, mare_trait_display(mother)], '<br>'.html_safe) %></td>
    </tr>
    <tr>
      <th>母父</th>
      <td><%= sire_display(@racer.mother&.father) %></td>
    </tr>
  </table>

  <div>
    <%= form_with model: @racer, local: true do |f| %>
      <% f = nil unless @editing -%>
      <table class="table_base">
        <% if f -%>
          <tr>
            <th>馬名</th>
            <td colspan="3"><%= racer_name_display(@racer, f) %></td>
          </tr>
        <% end -%>
        <% racer_attr_names.each do |name| -%>
          <% html_attrs = {}
             html_attrs[:colspan] = 3 unless name == :weights
             html_attrs[:class] = 'larger' if name == :remark && @racer.stable -%>
          <tr>
            <th><%= Racer.human_attribute_name(name) %></th>
            <%= racer_attr_display_in_td(@racer, name, f, html_attrs) %>
          </tr>
        <% end -%>
        <% if f -%>
          <tr>
            <td colspan="2" class="centered border_right_none">
              <%= f.submit %>
            </td>
            <td colspan="2" class="centered border_left_none">
              <%= link_to 'Cancel', racer_path(@racer, main_display: @main_display),
                                      class: 'escapeable', data: {shortcut: 'b'} %>
            </td>
          </tr>

          <%= hidden_field_tag :main_display, @main_display %>
        <% end -%>
      </table>
    <% end -%>

    <div class="links">
      <% if @racer.stable -%>
        <%= link_to '配合', mating_path(@racer.mother, sire_id: @racer.father.id),
                            target: '_blank', tabindex: -1 %>
      <% end -%>
      <% if mare = @racer.mare -%>
        <%= link_to '繁殖牝馬', matings_path(mare_id: mare), target: '_blank', tabindex: -1 %>
      <% elsif @racer.female? -%>
        <%= button_to '繁殖候補に', create_mare_racer_path(@racer), tabindex: -1 %>
      <% end -%>
    </div>
  </div>

  <div>
    <table class="table_base">
      <tr>
        <th>クラス</th>
        <td class="centered">
          <%= "#{@racer.age}歳 #{@racer.grade}" %>
        </td>
      </tr>
      <tr>
        <th>本賞金</th>
        <td class="numeric">
          <%= monetary_display(@racer.net_prize) %>
        </td>
      </tr>
      <tr>
        <th>戦績</th>
        <td class="centered">
          <%= @racer.place_records.join('-') %>
        </td>
      </tr>
    </table>

    <div class="links">
      <% if @editing -%>
        <%= button_to_retire(@racer) %>
        <% if mare -%>
          <%= button_to '繁殖入り', ranch_mares_path(ranch_mare: {mare: mare.name, ranch_id: @racer.ranch}),
                                      class: 'critical',
                                      data: {confirm: "「#{mare.name}」を引退・繁殖入りさせますか？"},
                                      tabindex: -1 %>
        <% end -%>
      <% else -%>
        <%= button_to_graze(@racer) %>
        <span style="margin-left: -10px;">
          <%= button_to_spa(@racer, '温泉へ') %>
        </span>

        <span id="show_form_to_injure" class="button">[負傷]</span>
        <%= link_to 'Edit', edit_racer_path(@racer, main_display: @main_display),
                              data: {shortcut: 'y'}, tabindex: -1 %>

        <div id="form_to_injure" hidden>
          <%= form_with url: injure_racer_path(@racer), local: true, method: :patch do |f| %>
            <%= f.text_field :description, value: @racer.injury&.description %>
            <%= f.submit '負傷' %>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>
</div>
