<div id="racers_traits">
  <table class="table_base">
    <tr>
      <th>父</th>
      <% father = @racer.father -%>
      <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
    </tr>
    <tr>
      <% mother = @racer.mother
         mating = Mating.new(mother, father)
         inbreed = mating.inbreed_display.gsub(', ', '<br>').html_safe -%>
     <td colspan="2">
       <%= inbreed.blank? ? '（アウトブリード）' : inbreed %>
     </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= "ニックス #{mating.nicks? ? '○' : '×'}、面白 #{mating.interesting? ? '○' : '×'}" %>
      </td>
    </tr>
    <tr>
      <th>母</th>
      <td><%= safe_join([mother&.name, mare_trait_display(mother)], '<br>'.html_safe) %></td>
    </tr>
    <tr>
      <th>母父</th>
      <% father = @racer.mother&.father -%>
      <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
    </tr>
  </table>

  <div>
    <table class="table_base">
      <tr>
        <th>２歳時</th>
        <td><%= @racer.comment_age2 %></td>
      </tr>
      <tr>
        <th>３歳時</th>
        <td><%= @racer.comment_age3 %></td>
      </tr>
      <tr>
        <th>厩舎</th>
        <td class="centered" title="<%= @racer.stable&.jockeys&.join('　') %>">
          <%= @racer.stable %>
        </td>
      </tr>
      <tr>
        <th>主戦騎手</th>
        <td class="centered">
          <%= @racer.stable&.jockeys&.join('、') %>
        </td>
      </tr>
      <tr>
        <th>体重</th>
        <td class="numeric"><%= "#{@racer.weight_best}kg" %></td>
      </tr>
    </table>

    <div class="links">
      <%= link_to '配合', mating_path(@racer.mother, sire_id: @racer.father.id),
                          target: '_blank', tabindex: -1 %>
      <% if mare = @racer.mare -%>
        <%= link_to '繁殖牝馬', matings_path(mare_id: mare), target: '_blank', tabindex: -1 %>
      <% elsif @racer.female? -%>
        <%= button_to '繁殖候補に', create_mare_racer_path(@racer), tabindex: -1 %>
      <% end -%>
    </div>
  </div>

  <div>
    <table class="table_base">
      <tr>
        <th>クラス</th>
        <td class="centered">
          <%= "#{@racer.age}歳 #{@racer.grade}" %>
        </td>
      </tr>
      <tr>
        <th>本賞金</th>
        <td class="numeric">
          <%= monetary_display(@racer.net_prize) %>
        </td>
      </tr>
      <tr>
        <th>戦績</th>
        <td class="centered">
          <%= @racer.place_records.join('-') %>
        </td>
      </tr>
    </table>

    <div class="links">
      <%= button_to_graze(@racer) %>
      <%= link_to 'Edit', ranch_path(@racer.ranch, racer_id_to_edit: @racer.id) %>
    </div>
  </div>
</div>
