<div id="racers_traits">
  <table class="table_base">
    <tr>
      <th>父</th>
      <% father = @racer.father -%>
      <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
    </tr>
    <tr>
      <% mother = @racer.mother
         mating = Mating.new(mother, father)
         inbreed = mating.inbreed_display.gsub(', ', '<br>').html_safe -%>
     <td colspan="2">
       <%= inbreed.blank? ? '（アウトブリード）' : inbreed %>
     </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= "ニックス #{mating.nicks? ? '○' : '×'}、面白 #{mating.interesting? ? '○' : '×'}" %>
      </td>
    </tr>
    <tr>
      <th>母</th>
      <td><%= safe_join([mother&.name, mare_trait_display(mother)], '<br>'.html_safe) %></td>
    </tr>
    <tr>
      <th>母父</th>
      <% father = @racer.mother&.father -%>
      <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
    </tr>
  </table>

  <div>
    <%= form_with model: @racer, local: true do |f| %>
      <% f = nil unless @editing -%>
      <table class="table_base">
        <tr>
          <th>２歳時</th>
          <%= racer_attr_display_in_td(@racer, :comment_age2, f, colspan: 3) %>
        </tr>
        <tr>
          <th>３歳時</th>
          <%= racer_attr_display_in_td(@racer, :comment_age3, f, colspan: 3) %>
        </tr>
        <tr>
          <th>厩舎</th>
          <%= racer_attr_display_in_td(@racer, :stable, f, colspan: 3) %>
        </tr>
        <tr>
          <th>主戦騎手</th>
          <td colspan="3" class="centered">
            <%= @racer.stable&.jockeys&.join('、') %>
          </td>
        </tr>
        <tr>
          <th>体重</th>
          <%= racer_attr_display_in_td(@racer, :weight_fat , f) %>
          <%= racer_attr_display_in_td(@racer, :weight_best, f, class: 'with_unit') %>
          <%= racer_attr_display_in_td(@racer, :weight_lean, f) %>
        </tr>
        <tr>
          <th>特記事項</th>
          <%= racer_attr_display_in_td(@racer, :remark, f, colspan: 3, class: @racer.stable ? 'larger' : '') %>
        </tr>
        <% if f -%>
          <tr>
            <td colspan="2" class="centered border_right_none">
              <%= f.submit %>
            </td>
            <td colspan="2" class="centered border_left_none">
              <%= link_to 'Cancel', @racer, class: 'escapeable', data: {shortcut: 'b'} %>
            </td>
          </tr>
        <% end -%>
      </table>
    <% end -%>

    <div class="links">
      <% if @racer.stable -%>
        <%= link_to '配合', mating_path(@racer.mother, sire_id: @racer.father.id),
                            target: '_blank', tabindex: -1 %>
      <% end -%>
      <% if mare = @racer.mare -%>
        <%= link_to '繁殖牝馬', matings_path(mare_id: mare), target: '_blank', tabindex: -1 %>
        <%= button_to '繁殖入り', ranch_mares_path(ranch_mare: {mare: mare.name, ranch_id: @racer.ranch}),
                                    class: 'critical',
                                    data: {confirm: "「#{mare.name}」を引退・繁殖入りさせますか？"},
                                    tabindex: -1 %>
      <% elsif @racer.female? -%>
        <%= button_to '繁殖候補に', create_mare_racer_path(@racer), tabindex: -1 %>
      <% end -%>
    </div>
  </div>

  <div>
    <table class="table_base">
      <tr>
        <th>クラス</th>
        <td class="centered">
          <%= "#{@racer.age}歳 #{@racer.grade}" %>
        </td>
      </tr>
      <tr>
        <th>本賞金</th>
        <td class="numeric">
          <%= monetary_display(@racer.net_prize) %>
        </td>
      </tr>
      <tr>
        <th>戦績</th>
        <td class="centered">
          <%= @racer.place_records.join('-') %>
        </td>
      </tr>
    </table>

    <div class="links">
      <%= button_to_graze(@racer) %>
      <% if @editing -%>
        <%= button_to_retire(@racer) %>
      <% else -%>
        <%= link_to 'Edit', edit_racer_path(@racer), data: {shortcut: 'e'} %>
      <% end -%>
    </div>
  </div>
</div>
