<div class="racers_new">
  <div>
    <%= render 'form' %>

    <table class="racers table_base">
      <tbody>
        <% @racer.mother.racers.older_first.each do |racer| -%>
          <tr>
            <td><%= racer_name_display(racer) %></td>
            <%= racer_sex_display_in_td(racer) %>
            <td class="numeric"><%= "#{racer.age}歳" %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="mating">
    <div class="sire">
      <%= render partial: 'sire', locals: {sire: @racer.father} %>
    </div>
    <div class="mare">
      <%= render partial: 'mare', locals: {mare: @racer.mother} %>
    </div>
  </div>
</div>
