<div class="racers_show">
  <div class="name">
    <%= @racer.name %>
    <%= button_to_next_week(@racer) %>
  </div>
  <div class="tables">
    <div id="traits_and_results">
      <table class="table_base">
        <tr>
          <th>体重</th>
          <td class="numeric"><%= "#{@racer.weight_best}kg" %></td>
        </tr>
          <th>父</th>
          <% father = @racer.father -%>
          <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
        </tr>
        <tr>
          <th>母</th>
          <% mother = @racer.mother -%>
          <td><%= safe_join([mother&.name, mare_trait_display(mother)], '<br>'.html_safe) %></td>
        </tr>
        <tr>
          <th>母父</th>
          <% father = @racer.mother&.father -%>
          <td><%= safe_join([father&.name, sire_trait_display(father)], '<br>'.html_safe) %></td>
        </tr>
        <tr>
          <th>厩舎</th>
          <td class="centered" title="<%= @racer.stable&.jockeys&.join(' ') %>">
            <%= @racer.stable %>
          </td>
        </tr>
      </table>

      <table id="results" class="table_base">
        <thead>
          <th colspan="5">
          <% result_attr_names.each do |name| -%>
            <th><%= Result.human_attribute_name(name) %></th>
          <% end -%>
        </thead>
        <tbody>
          <% @racer.results.each do |result| -%>
            <% race = result.race -%>
            <tr>
              <td><%= "#{race.month}.#{race.week}" %></td>
              <td><%= race.course %></td>
              <td><%= race_name_display(race) %></td>
              <td><%= race_distance_display(race) %></td>
              <td><%= [race_limitation_display(race), race.handicap? ? '[H]' : nil].compact.join(' ') %></td>
              <% if result.place.nil? -%>
                <%= form_with model: result, local: true do |f| %>
                  <%= render partial: 'result', locals: {result: result, f: f} %>
                <% end -%>
              <% else -%>
                <%= render partial: 'result', locals: {result: result, f: nil} %>
              <% end -%>
            </tr>
          <% end -%>

          <%= form_with url: create_result_racer_path(@racer), local: true do |f| %>
            <tr>
              <td colspan="10">
                <%= select_tag :race_id, race_options_for_select_for(@racer) %>
                <%= f.submit %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div id="race_candidates">
      <table class="table_base">
        <tbody>
          <% @racer.race_candidates(includes_overgrade: @includes_overgrade).group_by { |race|
               [race.month, race.week]
             }.each do |(month, week), races| -%>
            <% races.sort_by! { |r| (r.course.area.location - @racer.stable.center.area.location).abs } -%>
            <tr>
              <td rowspan="<%= races.size %>">
                <%= "#{month}月#{week}週" %>
              </td>
              <td rowspan="<%= races.size %>" class="numeric">
                <% weeks_later = @racer.ranch.weeks_later_of(month, week) -%>
                <%= weeks_later.zero? ? '今週' : "#{weeks_later}週後" %>
              </td>
              <%= race_display(races.first) %>
            </tr>
            <% races[1 .. -1].each do |race| -%>
              <tr>
                <%= race_display(race) %>
              </tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="links">
      <% label, path = @includes_overgrade ? ['格上挑戦せず', @racer] \
                                           : ['格上挑戦', racer_path(@racer, includes_overgrade: true)] -%>
      <%= link_to label, path %>
    </div>
  </div>

  <div class="links">
    <%= link_to 'Back', @racer.ranch %>
  </div>
</div>
