<div class="racers_show">
  <div id="name_and_traits">
    <%= racer_name_display(@racer) %>
    <%= render 'traits' %>
  </div>

  <div id="results_and_conditions">
    <% if @racer.stable -%>
      <%= render 'results' %>
      <%= render 'conditions' %>
    <% end -%>

    <div class="links">
      <%= form_for_weekly(@racer) %>
      <span class="weight_best"><%= "ベスト #{@racer.weight_best}kg" %></span>
      <%= link_to 'Back', @racer.ranch, data: {shortcut: 'b'}, tabindex: -1 %>
      <% if @prev_racer && @next_racer -%>
        <%= link_to "<(#{@prev_racer})", @prev_racer, id: 'to_prev_racer',
                      class: @prev_racer.expecting_race? ? 'expecting_race' : '' , tabindex: -1 %>
        <%= link_to "(#{@next_racer})>", @next_racer, id: 'to_next_racer',
                      class: @next_racer.expecting_race? ? 'expecting_race' : '' , tabindex: -1 %>
      <% end -%>

      <div id="racer_menu" class="racers_racers esc_hideable" hidden>
        <table class="table_base">
          <% Racer.active.where.not(stable: nil).older_first.each.with_index(1) do |racer, index| -%>
            <% next unless racer.in_stable? -%>
            <tr>
              <%= render partial: 'racer', locals: {racer: racer, index: index, f: @racer} %>
            </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>

  <% if @racer.is_active && !@racer.expecting_race? && @result_id_to_edit.zero? -%>
    <div id="race_candidates">
      <div class="links">
        <% label, path = @includes_overgrade ? ['格上挑戦せず', @racer] \
                                             : ['格上挑戦', racer_path(@racer, includes_overgrade: true)] -%>
        <%= link_to label, path, tabindex: -1 %>
      </div>

      <table class="table_base">
        <tbody>
          <% @racer.race_candidates(includes_overgrade: @includes_overgrade).group_by { |race|
               race.month_week
             }.each do |month_week, races| -%>
            <% races.sort_by! { |r| (r.course.area.location - @racer.stable.center.area.location).abs } -%>
            <tr>
              <td rowspan="<%= races.size %>" class="numeric">
                <%= month_week %>
              </td>
              <td rowspan="<%= races.size %>" class="numeric">
                <% weeks_later = month_week - @racer.ranch.month_week -%>
                <%= weeks_later.zero? ? '-' : "#{weeks_later}w" %>
              </td>
              <%= race_display(races.first, @racer, displays_target_button: true) %>
            </tr>
            <% races[1 .. -1].each do |race| -%>
              <tr>
                <%= race_display(race, @racer, displays_target_button: true) %>
              </tr>
            <% end -%>
            <% break if weeks_later >= @weeks_for_race_candidates -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  <% end -%>
</div>
