<div class="racers_show">
  <div id="name_and_traits">
    <%= racer_name_display(@racer) %>
    <span class="sex"><%= racer_sex_display(@racer) %></span>
    <%= render 'traits' %>

    <div id="racer_menu" class="racers_racers esc_hideable" hidden>
      <table class="table_base">
        <% Racer.active.where.not(stable: nil).older_first.each.with_index(1) do |racer, index| -%>
          <% next unless racer.in_stable? -%>
          <tr>
            <%= render partial: 'racer', locals: {racer: racer, index: index, f: @racer} %>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>

  <div id="results_and_conditions">
    <% if @racer.stable -%>
      <%= render 'results' %>
      <div class="notice">
        <%= notice(@racer.ranch) %>
      </div>
      <%= render 'conditions' %>
    <% else -%>
      <%= render partial: 'mating', locals: {mare: @racer.mother, sire: @racer.father} %>
    <% end -%>

    <div class="links">
      <%= form_for_weekly(@racer) %>
      <span class="weight_best"><%= "ベスト #{@racer.weight_best}kg" %></span>

      <%= link_to 'Back', @racer.ranch, data: {shortcut: 'b'}, tabindex: -1 %>
      <% if @prev_racer && @next_racer -%>
        <%= link_to "<(#{@prev_racer})", @prev_racer, id: 'to_prev_racer',
                      class: @prev_racer.expecting_race? ? 'expecting_race' : '' , tabindex: -1 %>
        <%= link_to "(#{@next_racer})>", @next_racer, id: 'to_next_racer',
                      class: @next_racer.expecting_race? ? 'expecting_race' : '' , tabindex: -1 %>
      <% end -%>

      <% course_last = @racer.results.last&.race&.course -%>
      <% if @racer.in_stable? && course_last&.stayable? -%>
        <div class="button_to_trip">
          <% course = @racer.course_staying
             label = course ? '帰厩' : "[#{course_last}] へ遠征" -%>
          <%= button_to label, trip_racer_path(@racer), method: :patch, tabindex: -1 %>
          <% clazz = @racer.ranch.courses_with_races.include?(course) ? '' : 'no_race' -%>
          <% if course -%>
            <span class="course_staying <%= clazz %>"><%= "[#{course}] に滞在中" %></span>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>

  <% if @racer.is_active && @racer.stable && !@racer.expecting_race? && @result_id_to_edit&.zero? -%>
    <div id="race_candidates">
      <div class="links">
        <% label, path = @includes_overgrade ? ['格上挑戦せず', @racer] \
                                             : ['格上挑戦', racer_path(@racer, includes_overgrade: true)] -%>
        <%= link_to label, path, tabindex: -1 %>
      </div>

      <table class="table_base">
        <tbody>
          <% current_week = @racer.ranch.month_week
             week_since = @racer.results.last&.race&.month_week
             week_since = current_week if week_since.nil? || @racer.in_ranch || current_week - week_since >= 5 -%>
          <% @racer.race_candidates(includes_overgrade: @includes_overgrade).group_by { |race|
               race.month_week
             }.each_with_index do |(month_week, races), index| -%>
            <% races.sort_by! { |r| (r.course.area.location - @racer.stable.center.area.location).abs } -%>
            <% if index.zero? && month_week != current_week -%>
              <tr>
                <td class="current"><%= current_week %></td>
                <td colspan="4">
              </tr>
            <% end -%>
            <tr>
              <td rowspan="<%= races.size %>" class="numeric <%= month_week == current_week ? 'current' : '' %>">
                <%= month_week %>
              </td>
              <td rowspan="<%= races.size %>" class="numeric">
                <% weeks_later = month_week - week_since -%>
                <%= weeks_later.zero? ? '-' : "#{weeks_later}w" %>
              </td>
              <%= race_display(races.first, @racer, displays_target_button: true) %>
            </tr>
            <% races[1 .. -1].each do |race| -%>
              <tr>
                <%= race_display(race, @racer, displays_target_button: true) %>
              </tr>
            <% end -%>
            <% break if month_week - current_week >= @weeks_for_race_candidates -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  <% end -%>
</div>
