<div class="racers_show <%= @racer.in_stable? ? 'in_stable' : '' %>">
  <div id="name_and_traits">
    <div>
      <div>
        <span class="name"><%= racer_name_display(@racer) %></span>
        <span class="sex"><%= racer_sex_display(@racer) %></span>
        <span class="age"><%= "#{@racer.age}歳" %></span>
      </div>
      <div class="lineage"><%= "#{@racer.father.trait.lineage}系" %></div>

      <% honoring_count = @racer.honoring_wins.count -%>
      <% if honoring_count >= 1 -%>
        <div class="honored">
          <% classes = ["honoring_count_#{honoring_count}"]
             classes << 'honored' if @racer.honored? -%>
          <%= image_tag 'honored.jpg', class: classes.join(' ') %>
        </div>
      <% end -%>
    </div>

    <%= render 'traits' %>

    <div id="racer_menu" class="racers_racers esc_hideable" hidden>
      <table class="table_base">
        <caption><%= count_to_be_trained_display %></caption>
        <% prev_racer = nil -%>
        <% Racer.active.where.not(stable: nil).sort_by(&:ordering_for_list).each.with_index(1) do |racer, index| -%>
          <% next unless racer.in_stable? -%>
          <tr class="<%= prev_racer&.age.to_i > racer.age ? 'border_top_thick' : '' %>">
            <% prev_racer = racer -%>
            <%= render partial: 'racer', locals: {racer: racer, index: index, f: @racer} %>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>

  <div id="results_and_conditions">
    <% if @racer.stable -%>
      <%= render 'results' %>
      <div class="notice">
        <%= notice(@racer.ranch) %>
      </div>
      <%= render 'conditions' %>
    <% else -%>
      <% names_for_candidates = [@racer.name] + StringUtil.extract_horse_names(@racer.remark) -%>
      <%= render partial: 'mating', locals: {mare: @racer.mother, sire: @racer.father,
                                             names_for_candidates: names_for_candidates, sex: @racer.sex} %>
    <% end -%>

    <div class="links">
      <% unless @editing -%>
        <%= form_for_weekly_condition(@racer) %>
        <%= form_for_weekly_weight(@racer) %>
      <% end -%>
      <span class="weight_best"><%= @racer.weight_best %></span>
      <span class="weight_transport"><%= weight_transport_display(@racer) %></span>

      <%= link_to '', ranch_path(@racer.ranch, main_display: @main_display, racer_id: @racer),
                          data: {shortcut: 'b'}, tabindex: -1 %>
      <% if @prev_racer -%>
        <%= link_to_prev_or_next_racer(@prev_racer, is_to_prev: true) %>
      <% end -%>
      <span class="count">
        <%= count_to_be_trained_display %>
      </span>
      <% if @next_racer -%>
        <%= link_to_prev_or_next_racer(@next_racer, is_to_prev: false) %>
      <% end -%>

      <% if @racer_shown_last -%>
        <span class="link_to_shown_last">
          <%= link_to "> #{@racer_shown_last} <", @racer_shown_last, data: {shortcut: 'x'}, tabindex: -1 %>
        </span>
      <% end -%>

      <% course_staying = @racer.course_staying
         course_last = @racer.results.last&.race&.course -%>
      <% if course_staying || (@racer.in_stable? && course_last&.stayable?) -%>
        <div class="button_to_trip">
          <% label = course_staying ? '帰厩' : "[#{course_last}] へ遠征" -%>
          <%= button_to label, trip_racer_path(@racer), method: :patch, tabindex: -1 %>
          <% if course_staying -%>
            <% clazz = @racer.ranch.courses_with_races.include?(course_staying) ? '' : 'no_race' -%>
            <span class="course_staying <%= clazz %>"><%= "[#{course_staying}] に滞在中" %></span>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>

  <% if @racer.is_active && @racer.stable && !@racer.expecting_race? && @result_id_to_edit&.zero? \
        && !@racers_in_same_race.any?(&:expecting_race) -%>
    <div id="race_candidates">
      <div class="links">
        <% unless @racer.open? -%>
          <% label, path = @includes_overgrade ? ['格上挑戦せず', @racer] \
                                               : ['格上挑戦', racer_path(@racer, includes_overgrade: true)] -%>
          <%= link_to label, path, tabindex: -1 %>
        <% end -%>

        <%= check_box_tag :trip, :trip, false, tabindex: -1 %>
        <%= label_tag :trip, '遠征する' %>

        <% if @racer.open? || @racer.age == 4 -%>
          <%= link_to 'more...', racer_path(@racer, more_candidates: true) %>
        <% end -%>

        <%= render 'handicap_load' %>
      </div>

      <table class="table_base">
        <tbody>
          <% current_week = @racer.ranch.month_week
             week_since = @racer.results.last&.race&.month_week
             week_since = current_week if week_since.nil? || @racer.in_ranch || current_week - week_since >= 5
             races_by_week = @racer.race_candidates(includes_overgrade: @includes_overgrade).group_by { |race|
               race.month_week
             }
             month_week = current_week
             data_for_race_load = @racer.data_for_race_load -%>
          <% @weeks_for_race_candidates.times do -%>
            <% races = races_by_week[month_week] || []
               races.sort_by! { |race|
                 [
                   race.grade.ordering,
                   (race.course.area.location - @racer.stable.center.area.location).abs \
                     - (race.month == 6 && @racer.stable.center.name == '栗東' && race.course.name == '中京' ? 2 : 0) \
                     - (race.month == 8 && @racer.stable.center.name == '栗東' && race.course.name == '小倉' ? 2 : 0)
                 ]
               } -%>
            <% if races.empty? -%>
              <tr>
                <td class="numeric <%= month_week == current_week ? 'current' : '' %>">
                  <%= month_week %>
                </td>
                <td colspan="4" class="centered">---</td>
              </tr>
            <% else -%>
              <tr>
                <td rowspan="<%= races.size %>" class="numeric <%= month_week == current_week ? 'current' : '' %>">
                  <%= month_week %>
                </td>
                <td rowspan="<%= races.size %>" class="numeric">
                  <% weeks_later = month_week - week_since -%>
                  <%= weeks_later.zero? ? '-' : "#{weeks_later}w" %>
                </td>
                <%= race_display(races.first, @racer, displays_target_button: true, data_for_race_load: data_for_race_load) %>
              </tr>
              <% races[1 .. -1].each do |race| -%>
                <tr>
                  <%= race_display(race, @racer, displays_target_button: true, data_for_race_load: data_for_race_load) %>
                </tr>
              <% end -%>
            <% end -%>
            <% month_week = month_week.next -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  <% end -%>
</div>
