<% clazz = result.place == 1 ? 'win' : result.place == 2 ? 'runner_up' : '' -%>
<td class="<%= clazz %> race_name"><%= result.race.name %></td>
<td class="<%= clazz %> place"    ><%= result.place %></td>
<td class="odds"><%= result.odds %></td>
<td class="rank_odds"><%= result.rank_odds %></td>
<td class="comment_race"><%= result.comment_race %></td>
