<div class="results_g1_series_show">
  <% @h_results.each do |name, array_of_results| -%>
    <table class="g1_records">
      <caption><%= name %></caption>
      <% array_of_results.each do |results| -%>
        <tr>
          <% clazz = results.map(&:place).all? { |p| p == 1 } ? 'achieved' : '' -%>
          <td class="<%= clazz %> racer_name"><%= results.map(&:racer).uniq.join(',') %></td>
          <td class="year"><%= results.map(&:year).uniq.join(',') %></td>
          <% results.insert(2, nil) if name == :古馬五冠 -%>
          <% results.first(3).each do |result| -%>
            <% next unless result -%>
            <%= render partial: 'results/g1_series/result', locals: {result: result} %>
          <% end -%>
        </tr>
        <% if name == :古馬五冠 -%>
          <tr class="border_bottom">
            <td colspan="2">
            <% results.last(3).each do |result| -%>
              <%= render partial: 'results/g1_series/result', locals: {result: result} %>
            <% end -%>
          </tr>
        <% end -%>
      <% end -%>
    </table>
  <% end -%>
</div>
