<div class="ranches_show <%= @ready_for_next_week ? 'ready_for_next_week' : '' %>">
  <div class="mares" <%= @shows_mares ? '' : 'hidden' %>>
    <%= render 'mares' %>

    <% if @racer_id_to_edit.zero? -%>
      <div class="links">
        <%= link_to '新規繁殖牝馬', new_ranch_mare_path(ranch_id: @ranch.id), tabindex: -1 %>
      </div>
    <% end -%>
  </div>

  <% if !@shows_all_racers -%>
    <div class="racers">
      <%= render 'racers/racers' %>
      <div class="notice">
        <%= notice(@ranch) %>
      </div>

      <% if @racer_id_to_edit.zero? -%>
        <%= render 'racers/all_conditions' %>

        <div class="links">
          <%= link_to '新規競走馬', new_racer_path(ranch_id: @ranch.id), tabindex: -1 %>
        </div>
      <% end -%>
    </div>
  <% else -%>
    <%= render 'racers/all_racers' %>
  <% end -%>

  <div class="links" hidden>
    <%= link_to '[繁殖牝馬]', ranch_path(@ranch, shows_mares: !@shows_mares, shows_all_racers: @shows_all_racers),
                              id: 'show_mares', tabindex: -1 %>
    <%= link_to '[全競争馬]', ranch_path(@ranch, shows_all_racers: !@shows_all_racers),
                              id: 'show_all_racers', tabindex: -1 %>
  </div>
</div>
