<div class="ranches_show <%= @ready_for_next_week ? 'ready_for_next_week' : '' %>">
  <div class="mares" <%= @shows_mares ? '' : 'hidden' %>>
    <%= render 'mares' %>

    <% if @racer_id_to_edit.zero? -%>
      <div class="links">
        <%= link_to '新規繁殖牝馬', new_ranch_mare_path(ranch_id: @ranch.id), tabindex: -1 %>
      </div>
    <% end -%>
  </div>

  <% if @main_display.present? -%>
    <div class="all_racers">
      <%= render partial: 'racers/blood_and_result_list', locals: {racers: @racers} %>
    </div>
  <% else -%>
    <div class="racers">
      <%= render 'racers/racers' %>
      <div class="notice">
        <%= notice(@ranch) %>
      </div>

      <% if @racer_id_to_edit.zero? -%>
        <%= render 'racers/all_conditions' %>
      <% end -%>
    </div>
  <% end -%>

  <div class="links" hidden>
    <%= link_to '[繁殖牝馬]', ranch_path(@ranch, shows_mares: !@shows_mares, main_display: @main_display),
                              id: 'show_mares', tabindex: -1 %>
    <%= link_to '[全現役馬]', ranch_path(@ranch, shows_no_stable: !@shows_no_stable),
                              id: 'show_no_stable', tabindex: -1 %>
    <%= link_to '[現役配合]', ranch_path(@ranch, main_display: @main_display ? nil : :active_inbreeds),
                              id: 'show_inbreeds', tabindex: -1 %>
    <%= link_to '[全競争馬]', ranch_path(@ranch, main_display: @main_display ? nil : :all_racers),
                              id: 'show_all_racers', tabindex: -1 %>
  </div>
</div>
