<div class="ranches_show">
  <div class="date">
    <%= date_display(@ranch) %>
    <%= button_to '翌週', next_week_ranch_path(@ranch), method: :patch %>
  </div>

  <div class="mares">
    <%= render 'mares' %>
  </div>

  <div class="racers">
    <%= render 'racers/racers' %>

    <div class="links">
      <%= link_to '新規', new_racer_path(ranch_id: @ranch.id) %>
    </div>
  </div>
</div>
