<div class="ranches_show <%= @ready_for_next_week ? 'ready_for_next_week' : '' %>">
  <div class="mares" <%= @shows_mares ? '' : 'hidden' %>>
    <% if @shows_mares && @racer_id_to_edit.zero? -%>
      <%= render 'ranch_mares' %>
    <% end -%>
  </div>

  <% if @main_display.present? -%>
    <div class="all_racers">
      <%= render partial: 'racers/blood_and_result_list', locals: {racers: @racers} %>
    </div>
  <% else -%>
    <div class="racers">
      <%= render 'racers/racers' %>
      <div class="notice">
        <%= notice(@ranch) %>
      </div>

      <% if @racer_id_to_edit.zero? -%>
        <%= render 'racers/all_conditions' %>
      <% end -%>
    </div>
  <% end -%>

  <div class="links" hidden>
    <%= link_to '[繁殖牝馬]', toggle_mares_ranch_path(@ranch, shows_mares: !@shows_mares), remote: true,
                              id: 'show_mares', tabindex: -1 %>
    <%= link_to '[現役配合]', ranch_path(@ranch, main_display: @main_display ? nil : :active_inbreeds),
                              id: 'show_inbreeds', tabindex: -1 %>
    <% if @main_display == 'all_racers' -%>
      <%= link_to '[全競争馬]', ranch_path(@ranch, main_display: :all_racers, sort_by_age: !@sort_by_age),
                                id: 'show_all_racers', tabindex: -1 %>
    <% elsif !@main_display -%>
      <%= link_to '[全競争馬]', ranch_path(@ranch, main_display: :all_racers),
                                id: 'show_all_racers', target: '_blank', tabindex: -1 %>
    <% end -%>
  </div>
</div>
