<div class="sires_form">
  <%= form_with model: @sire, local: true do |f| %>
    <div class="field">
      <%= f.label :name_jp %>
      <%= f.text_field :name_jp %>
    </div>
    <div class="field">
      <%= f.label :name_eng %>
      <%= f.text_field :name_eng %>
    </div>
    <div class="field">
      <%= f.label :father %>
      <input type="search" name="father" value="<%= @sire.father %>" autocomplete="on" list="father_candidates">
    </div>
    <div class="field">
      <%= f.label :root_lineage %>
      <%= f.select :root_lineage_id, options_for_root_linenage %>
    </div>

    <%= hidden_field_tag :horse_back_type, @horse_back.class.name %>
    <%= hidden_field_tag :horse_back_id  , @horse_back.id %>
    <%= hidden_field_tag :generation, @generation %>
    <%= hidden_field_tag :number    , @number %>

    <div class="submit">
      <%= f.submit %>
      <%= link_to 'Cancel', @horse_back %>
    </div>
  <% end -%>

  <%= render 'father_candidates' %>
</div>
