<div class="mating_lists_show">
  <table>
    <tbody>
      <% @mating_list.each do |mating| -%>
        <tr>
          <td><%= mating %></td>
          <td><%= link_to '配', mating_path(mating.mare, sire_id: mating.sire.id), target: '_blank' %></td>
          <td><%= link_to '削除', delete_mating_list_path(mare_id: mating.mare.id, sire_id: mating.sire.id) %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <div class="actions">
    <hr>
    追加：
    <%= form_with url: mating_list_path, method: :patch, local: true do |f| %>
      <div class="field">
        <%= f.label :mare %>
        <input type="search" name="mare" autocomplete="on" list="mother_candidates">
      </div>
      <div class="field">
        <%= f.label :sire %>
        <input type="search" name="sire" autocomplete="on" list="father_candidates">
      </div>

      <%= f.submit %>
    <% end -%>
  </div>

  <%= render 'mother_candidates' %>
  <%= render 'father_candidates' %>
</div>
