<div class="mating_lists_show">
  <table class="table_base">
    <thead>
      <tr>
        <th class="border_right_thick">
        <% sire_trait_names.each do |name| -%>
          <th><%= SireTrait.human_attribute_name(name) %></th>
        <% end -%>
        <% mare_trait_names.reject { |n| n == :lineage }.each_with_index do |name, index| -%>
          <th class="<%= index.zero? ? 'border_left_thick' : '' %>">
            <%= Mare.human_attribute_name(name) %>
          </th>
        <% end -%>
        <th class="border_left_thick">点</th>
        <th>ニ</th>
        <th>面</th>
        <th>インブリード</th>
        <th colspan="3">
      </tr>
    </thead>
    <tbody>
      <% @mating_list.each do |mating| -%>
        <% mare           = mating.mare
           sire           = mating.sire
           is_nicks       = mating.nicks?
           is_interesting = mating.interesting?
           score          = mating.score -%>
        <tr>
          <td class="border_right_thick"><%= mating %></td>
          <% trait = sire.trait -%>
          <% sire_trait_names.each do |name| -%>
            <% value = trait.send(name) -%>
            <td class="<%= "#{name}-#{value}" %> <%= name == :fee ? 'numeric' : 'centered' %>">
              <%= value %>
            </td>
          <% end -%>
          <% mare_trait_names.reject { |n| n == :lineage }.each_with_index do |name, index| -%>
            <td class="<%= %i[price speed stamina].include?(name) ? 'numeric' : 'centered' %>
                       <%= index.zero? ? 'border_left_thick' : '' %>">
              <%= mare.send(name) %>
            </td>
          <% end -%>
          <td class="numeric <%= score < 0 ? 'negative_score' : score >= 20 ? 'excellent_score' : '' %>
                     border_left_thick">
            <%= score %>
          </td>
          <td class="centered <%= is_nicks ? 'nicks' : '' %>">
            <%= is_nicks ? '〇' : '' %>
          </td>
          <td class="centered <%= is_interesting ? 'interesting' : '' %>">
            <%= is_interesting ? '〇' : '' %>
          </td>
          <td class="allows_wrap">
            <%= mating.inbreed_display.yield_self { |x| x.blank? ? '（アウトブリード）' : x } %>
          </td>
          <td><%= link_to '配合', mating_path(mare, sire_id: sire.id, in_list: true),
                                  target: '_blank' %></td>
          <td><%= link_to '落札', new_racer_path(ranch_id: @ranch, father_id: sire, mother_id: mare), tabindex: -1 %></td>
          <td><%= link_to '削除', delete_mating_list_path(mare_id: mare.id, sire_id: sire.id), tabindex: -1 %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <div class="actions">
    <% unless @mating_list.empty? -%>
      <%= button_to '全削除', mating_list_path, method: :delete, data: {confirm: "全削除？"}, tabindex: -1 %>
    <% end -%>

    <hr>
    追加：
    <%= form_with url: mating_list_path, method: :patch, local: true do |f| %>
      <div class="field">
        <%= f.label :mare %>
        <input type="search" name="mare" value="<%= @mare %>" autocomplete="on" list="mother_candidates" autofocus>
      </div>
      <div class="field">
        <%= f.label :sire %>
        <input type="search" name="sire" value="<%= @sire %>" autocomplete="on" list="sire_candidates">
          <%= @sire %>
        </input>
      </div>

      <%= f.submit %>
    <% end -%>
  </div>

  <%= render 'mother_candidates' %>
  <%= render 'sire_candidates' %>
</div>
