<div class="application_bloodline">
  <%= form_with url: bloodline_update_path, local: true, method: :patch do |f| %>
    <table class="table_base">
      <tr>
        <td rowspan="8"><%= father_in_bloodline(horse, 1, 1) %></td>
        <td rowspan="4"><%= father_in_bloodline(horse, 2, 1) %></td>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 1) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 1) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 2) %></td>
      </tr>
      <tr>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 2) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 3) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 4) %></td>
      </tr>
      <tr>
        <td rowspan="4"><%= father_in_bloodline(horse, 2, 2) %></td>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 3) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 5) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 6) %></td>
      </tr>
      <tr>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 4) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 7) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 8) %></td>
      </tr>
    </table>

    <div class="root_lineages">
      <table class="table_base">
        <tr>
          <% horse.root_lineage_numbers.each do |number| -%>
            <td class="centered"><%= number %></td>
          <% end -%>
        </tr>
      </table>
    </div>

    <%= hidden_field_tag :type, horse.class.name %>
    <%= hidden_field_tag :id  , horse.id %>

    <div class="submit">
      <% unless horse.all_bloodline_father_present? -%>
        <%= submit_tag %>
      <% end -%>
      <%= link_to 'Cancel', sires_path %>
    </div>

    <%= render 'father_candidates' %>
  <% end -%>
</div>
