<div class="application_bloodline">
  <%= form_with url: bloodline_update_path, local: true, method: :patch do |f| %>
    <table class="table_base">
      <tr>
        <td rowspan="8"><%= father_in_bloodline(horse, 1, 1) %></td>
        <td rowspan="4"><%= father_in_bloodline(horse, 2, 1) %></td>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 1) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 1) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 2) %></td>
      </tr>
      <tr>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 2) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 3) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 4) %></td>
      </tr>
      <tr>
        <td rowspan="4"><%= father_in_bloodline(horse, 2, 2) %></td>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 3) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 5) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 6) %></td>
      </tr>
      <tr>
        <td rowspan="2"><%= father_in_bloodline(horse, 3, 4) %></td>
        <td>            <%= father_in_bloodline(horse, 4, 7) %></td>
      </tr>
      <tr>
        <td>            <%= father_in_bloodline(horse, 4, 8) %></td>
      </tr>
    </table>

    <%= hidden_field_tag :type, horse.class.name %>
    <%= hidden_field_tag :id  , horse.id %>

    <div class="submit">
      <%= submit_tag %>
      <%= link_to 'Canecl', sires_path %>
    </div>

    <datalist id="father_candidates">
      <% Sire.where.not(name_eng: nil).order(:name_eng).each do |sire| -%>
        <option value="<%= sire.name_eng %>">
      <% end -%>
      <% Sire.where(name_eng: nil).order(:name_jp).each do |sire| -%>
        <option value="<%= sire.name_jp %>">
      <% end -%>
    </datalist>
  <% end -%>
</div>
