<table class="table_base">
  <thead>
    <tr>
      <th colspan="<%= @ranch ? 3 : 2 %>">
      <% mare_trait_names.each do |name| -%>
        <th><%= Mare.human_attribute_name(name) %></th>
      <% end -%>
      <th colspan="4">受胎</th>
      <th>備考</th>
      <th colspan="2">
    </tr>
  </thead>
  <tbody>
    <% @mares.each.with_index(1) do |mare, seq_num| -%>
      <% has_all_fathers = @entering_bloodline && mare.all_bloodline_father_present? -%>
      <tr>
        <td class="numeric">
          <% if @ranch -%>
            <% ranch_mare = RanchMare.find_by(ranch: @ranch, mare: mare) -%>
            <%= link_to seq_num, edit_remark_ranch_mare_path(ranch_mare), target: '_blank', tabindex: -1 %>
          <% else -%>
            <%= link_to seq_num, mare_path(mare), tabindex: has_all_fathers ? -1 : 0 %>
          <% end -%>
        </td>
        <td style="<%= !@entering_bloodline || has_all_fathers ? '' : 'color: red' %>">
          <%= mare.name %>
        </td>
        <% ranch_mare = @ranch&.ranch_mares&.find_by(mare: mare) -%>
        <% if @ranch -%>
          <td class="numeric">
            <%= "#{ranch_mare.age}歳" %>
          </td>
        <% end -%>
        <% mare_trait_names.each do |name| -%>
          <td class="<%= %i[price speed stamina].include?(name) ? 'numeric' : 'centered' %>">
            <%= mare.send(name) %>
          </td>
        <% end -%>
        <% if @ranch -%>
          <% ranch_mare = @ranch.ranch_mares.find_by(mare: mare) -%>
          <% if sire = ranch_mare&.sire -%>
            <td><%= sire %></td>
            <td><%= link_to '配合', edit_remark_ranch_mare_path(ranch_mare), target: '_blank', tabindex: -1 %></td>
            <td><%= link_to '誕生', new_racer_path(ranch_id: @ranch, father_id: sire, mother_id: mare), tabindex: -1 %></td>
            <td><%= link_to '削除', delete_sire_ranch_mare_path(ranch_mare), method: :patch, tabindex: -1 %></td>
          <% else -%>
            <td colspan="4" class="centered">（空胎）</td>
          <% end -%>
          <td><%= ranch_mare.remark %></td>
        <% end -%>
        <td>
          <%= link_to (@ranch ? '種付' : '配合'), matings_path(mare_id: mare, ranch_id: @ranch),
                                                    target: '_blank', tabindex: -1 %>
        </td>
        <% if @ranch -%>
          <td>
            <%= button_to '売却', ranch_mare, method: :delete, tabindex: -1,
                                    data: {confirm: "「#{mare.name}」を売却してよろしいですか?"} %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
