<table class="mares table_base">
  <thead>
    <tr>
      <th colspan="<%= @ranch ? 2 : 1 %>">
      <th class="age sortable">馬齢</th>
      <% mare_trait_names.each do |name| -%>
        <th class="<%= name == :price ? 'sortable' : '' %>">
          <%= Mare.human_attribute_name(name) %>
        </th>
      <% end -%>
      <th colspan="5">過去５年産駒</th>
      <th colspan="4">受胎</th>
      <th>備考</th>
      <th colspan="2">
    </tr>
  </thead>
  <tbody>
    <% @mares.each.with_index(1) do |mare, seq_num| -%>
      <% has_all_fathers = @entering_bloodline && mare.all_bloodline_father_present? -%>
      <tr>
        <% ranch_mare = RanchMare.find_by(ranch: @ranch, mare: mare) -%>
        <td class="numeric">
          <% if ranch_mare -%>
            <%= link_to seq_num, ranch_mare, tabindex: -1 %>
          <% else -%>
            <%= link_to seq_num, mare_path(mare), tabindex: has_all_fathers ? -1 : 0 %>
          <% end -%>
        </td>
        <td style="<%= !@entering_bloodline || has_all_fathers ? '' : 'color: red' %>">
          <%= mare.name %>
        </td>
        <% if @ranch -%>
          <td class="age numeric">
            <%= "#{ranch_mare.age}歳" %>
          </td>
        <% end -%>
        <% mare_trait_names.each do |name| -%>
          <td class="<%= %i[price speed stamina].include?(name) ? 'numeric' : 'centered' %>
                     <%= name == :price ? 'price' : '' %>">
            <%= mare.send(name) %>
          </td>
        <% end -%>
        <% if ranch_mare -%>
          <% (-4 .. 0).each do |diff_year| -%>
            <% birth_piece = ranch_mare.mare.racers.find_by(year_birth: @ranch.year + diff_year) -%>
            <td class="<%= birth_piece&.sex %>" aria-label="<%= birth_piece %>">
              <%= birth_piece ? (birth_piece.male? ? '牡' : '牝')
                              : ranch_mare.expecting? && diff_year.zero? ? '〇' : '－' %>
            </td>
          <% end -%>
          <% if sire = ranch_mare&.sire -%>
            <td class="<%= ranch_mare.child_status %>"><%= sire %></td>
            <td><%= link_to '配合', ranch_mare, tabindex: -1 %></td>
            <td><%= link_to '誕生', new_racer_path(ranch_id: @ranch, father_id: sire, mother_id: mare), tabindex: -1 %></td>
            <td><%= link_to '削除', delete_sire_ranch_mare_path(ranch_mare), method: :patch, tabindex: -1 %></td>
          <% else -%>
            <td colspan="4" class="centered">（空胎）</td>
          <% end -%>
          <td><%= ranch_mare.remark %></td>
        <% end -%>
        <td>
          <%= link_to (@ranch ? '種付' : '配合'), matings_path(mare_id: mare, ranch_id: @ranch),
                                                    target: '_blank', tabindex: -1 %>
        </td>
        <% if @ranch -%>
          <td>
            <%= button_to '売却', ranch_mare, method: :delete, tabindex: -1,
                                    data: {confirm: "「#{mare.name}」を売却してよろしいですか?"} %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
