<table class="table_base">
  <thead>
    <tr>
      <th colspan="3">
      <% mare_trait_names.each do |name| -%>
        <th><%= Mare.human_attribute_name(name) %></th>
      <% end -%>
      <th>
    </tr>
  </thead>
  <tbody>
    <% @mares.each.with_index(1) do |mare, seq_num| -%>
      <% has_all_fathers = @entering_bloodline && mare.all_bloodline_father_present? -%>
      <tr>
        <td class="numeric">
          <%= link_to seq_num, mare_path(mare, ranch_id: @ranch), tabindex: has_all_fathers || @ranch ? -1 : 0 %>
        </td>
        <td style="<%= !@entering_bloodline || has_all_fathers ? '' : 'color: red' %>">
          <%= mare.name %>
        </td>
        <% if @ranch -%>
          <td class="numeric">
            <%= "#{@ranch.ranch_mares.find_by(mare: mare).age}歳" %>
          </td>
        <% end -%>
        <% mare_trait_names.each do |name| -%>
          <td class="<%= %i[price speed stamina].include?(name) ? 'numeric' : 'centered' %>">
            <%= mare.send(name) %>
          </td>
        <% end -%>
        <td><%= link_to_if mare.all_bloodline_father_present?, '配',
                  matings_path(mare_id: mare, ranch_id: @ranch), target: '_blank', tabindex: -1 %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
