<%
  @mating = Mating.new(mare, sire)
  unless defined?(names_for_candidates)
    names_for_candidates = []
  end
-%>

<div class="matings">
  <div class="sire">
    <%= render partial: 'sire', locals: {sire: sire} %>
  </div>

  <div class="mare">
    <%= render partial: 'mare', locals: {mare: mare} %>
  </div>

  <div class="traits">
    <table class="table_base">
      <tr>
        <th>ニックス</th>
        <td class="value"><%= @mating.nicks? ? '〇': '×' %></td>
        <th>面白い</th>
        <td class="value"><%= @mating.interesting? ? '〇': '×' %></td>
      </tr>
      <tr>
        <td colspan="4" class="inbreed_display">
          <% inbreed = @mating.inbreed_display.gsub(', ', '<br>').html_safe -%>
          <%= inbreed.blank? ? '（アウトブリード）' : inbreed %>
        </td>
      </tr>
    </table>

    <%= render partial: 'root_lineage_numbers', locals: {horse: @mating} %>

    <table class="racer_name_candidates">
      <% @mating.racer_name_candidates(num: 25, names_from: names_for_candidates)
            .each do |name, distance, father_name| -%>
        <tr>
          <td><%= name %></td>
          <td><%= sprintf("%5.3f", distance) %></td>
          <td><%= "<= #{father_name}" %></td>
          <td class="link">
            <%= link_to '削除',
                  racer_name_sample_path(RacerNameSample.find_by(name: name), ranch_mare_id: @ranch_mare),
                  method: :delete,
                  data: {confirm: "競走馬名候補「#{name}」を削除してよろしいですか？"} %>
          </td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
