<div class="top">
  <% if @mare -%>
    <table class="mare_name_and_traits table_base">
      <tr>
        <td><%= @mare.name %></td>
        <td><%= @mare.lineage %></td>
        <% if @mare.price.blank? -%>
          <td>自家製</td>
        <% else -%>
          <td><%= "#{@mare.price}万円" %></td>
          <td><%= @mare.speed %></td>
          <td><%= @mare.stamina %></td>
          <td><%= @mare.rating %></td>
          <td><%= @mare.type %></td>
        <% end -%>
      </tr>
    </table>
  <% end -%>

  <div id="sire_filter">
    <%= form_with model: @sire_filter, local: true do |f| %>
      <%= f.label '成長' %>
      <%= f.select :growth, options_for_growth %>
      <%= f.label '気性' %>
      <%= f.select :temper   , options_for_abc, {}, class: 'select_abc' %>
      <%= f.label '根性' %>
      <%= f.select :contend  , options_for_abc, {}, class: 'select_abc' %>
      <%= f.label '健康' %>
      <%= f.select :health   , options_for_abc, {}, class: 'select_abc' %>
      <%= f.label '安定' %>
      <%= f.select :stability, options_for_abc, {}, class: 'select_abc' %>
      <%= f.label 'スコア' %>
      <%= f.number_field :score, value: 0 %>
      <%= hidden_field_tag :mare_id, @mare&.id %>
      <%= hidden_field_tag :ranch_id, @ranch&.id %>
    <% end -%>
  </div>

  <div class="count">
    <span id="count_sires"><%= @sires.count %></span>
    <%= " / #{Sire.breedable.count}" %>
  </div>

  <div class="links">
    <% if @mare -%>
      <%= link_to '再計算', recache_matings_path(mare_id: @mare.id) %>
    <% end -%>
  </div>
</div>

<table class="sires table_base">
  <thead>
    <tr>
      <th>
      <th>
      <th>産</th>
      <% sire_trait_names.each do |name| -%>
        <th><%= SireTrait.human_attribute_name(name) %></th>
      <% end -%>
      <% if @mare -%>
        <th id="header_score">点</th>
        <th id="header_nicks">ニ</th>
        <th id="header_interesting">面</th>
        <th>インブリード</th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% mare_inbreeds = @mare&.h_inbreeds -%>
    <% @sires.each.with_index(1) do |sire, seq_num| -%>
      <% has_all_fathers = @entering_bloodline && sire.all_bloodline_father_present? -%>
      <tr>
        <td class="numeric">
          <% path = @mare ? mating_path(@mare, sire_id: sire.id, ranch_id: @ranch&.id) \
                          : sire -%>
          <%= link_to seq_num, path, target: @mare ? '_blank' : '',
                                     tabindex: has_all_fathers ? -1 : 0 %>
        </td>
        <td style="<%= !@entering_bloodline || has_all_fathers ? '' : 'color: red' %>">
          <%= sire.name %>
        </td>
        <td><%= sire.domestic? ? '内' : '' %></td>
        <% trait = sire.trait -%>
        <% sire_trait_names.each do |name| -%>
          <% value = trait.send(name) -%>
          <td class="<%= "#{name}-#{value}" %> <%= name == :fee ? 'numeric' : 'centered' %>">
            <%= value %>
          </td>
        <% end -%>

        <% if @mare -%>
          <% mating = Mating.new(@mare, sire, mare_inbreeds)
             is_nicks       = mating.nicks?
             is_interesting = mating.interesting?
             score          = mating.score -%>
          <td class="numeric <%= score < 0 ? 'negative_score' : score >= 20 ? 'excellent_score' : '' %>"
              data-score="<%= score %>">
            <%= score %>
          </td>
          <td class="centered <%= is_nicks ? 'nicks' : '' %>">
            <%= is_nicks ? '〇' : '' %>
          </td>
          <td class="centered <%= is_interesting ? 'interesting' : '' %>">
            <%= is_interesting ? '〇' : '' %>
          </td>
          <td class="allows_wrap"><%= mating.inbreed_display %></td>
          <% ranch_mare = @ranch&.ranch_mares&.find_by(mare: @mare) -%>
          <% if ranch_mare -%>
            <td>
            <% if sire == ranch_mare.sire -%>
              受胎
            <% else -%>
              <%= link_to '種付', ranch_mare_path(ranch_mare, sire_id: sire.id), method: :patch %>
            <% end -%>
          <% end -%>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
