<div class="top">
  <%= @mare&.name %>

  <div id="sire_filter">
    <%= form_with model: @sire_filter, local: true do |f| %>
      <%= f.label '気性' %>
      <%= f.select :temper, options_for_abc %>
      <%= f.label '根性' %>
      <%= f.select :contend, options_for_abc %>
      <%= f.label '健康' %>
      <%= f.select :health, options_for_abc %>
      <%= f.label '安定' %>
      <%= f.select :stability, options_for_abc %>
      <%= hidden_field_tag :mare_id, @mare&.id %>
      <%= hidden_field_tag :ranch_id, @ranch&.id %>
      <%= f.submit %>
    <% end -%>
  </div>

  <div class="count">
    <%= "#{@sires.count} / #{Sire.breedable.count}" %>
  </div>
</div>

<table class="table_base">
  <thead>
    <tr>
      <th>
      <th>
      <th>産</th>
      <% sire_trait_names.each do |name| -%>
        <th><%= SireTrait.human_attribute_name(name) %></th>
      <% end -%>
      <% if @displays_inbreeds -%>
        <th>ニ</th>
        <th id="head_interesting">面</th>
        <th>インブリード</th>
      <% elsif @mare -%>
        <td><%= link_to '配合', matings_path(mare_id: @mare.id,
                                             displays_inbreeds: true,
                                             sire_filter: @sire_filter.to_params,
                                             ranch_id: @ranch&.id) %></td>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% mare_inbreeds = @mare&.h_inbreeds -%>
    <% @sires.each.with_index(1) do |sire, seq_num| -%>
      <% has_all_fathers = @entering_bloodline && sire.all_bloodline_father_present? -%>
      <tr>
        <td class="numeric">
          <% path = @mare ? mating_path(@mare, sire_id: sire.id, ranch_id: @ranch&.id) \
                          : sire -%>
          <%= link_to seq_num, path, target: @mare ? '_blank' : '',
                                     tabindex: has_all_fathers ? -1 : 0 %>
        </td>
        <td style="<%= !@entering_bloodline || has_all_fathers ? '' : 'color: red' %>">
          <%= sire.name %>
        </td>
        <td><%= sire.domestic? ? '内' : '' %></td>
        <% trait = sire.trait -%>
        <% sire_trait_names.each do |name| -%>
          <td class="<%= name == :fee ? 'numeric' : 'centered' %>">
            <%= trait.send(name) %>
          </td>
        <% end -%>

        <% if @displays_inbreeds -%>
          <% mating = Mating.new(@mare, sire, mare_inbreeds)
             is_nicks       = mating.nicks?
             is_interesting = mating.interesting? -%>
           <td class="centered <%= is_nicks ? 'nicks' : '' %>">
             <%= is_nicks ? '〇' : '' %>
           </td>
           <td class="centered <%= is_interesting ? 'interesting' : '' %>">
             <%= is_interesting ? '〇' : '' %>
           </td>
          <td class="allows_wrap"><%= inbreed_display(mating) %></td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
