<% ranch = @ranch || @racer.ranch -%>

<div id="top_bar">
  <div class="date">
    <%= date_display(ranch) %>
    <%= button_to_next_week(@ranch || @racer) %>

    <% max_racers = ranch.max_racers
       vacancy = max_racers - Racer.num_in_ranch
       n_few = (max_racers.to_f / 6).ceil -%>
    <span id="vacancy_in_ranch" class="<%= vacancy.zero? ? 'none' : vacancy <= n_few ? 'few' : '' %>">
      <%= "空き #{vacancy} / #{max_racers}" %>
    </span>
  </div>

  <div class="links">
    <%= link_to '繁殖牝馬'      , mares_path             , target: '_blank', tabindex: -1 %>
    <%= link_to '繁殖牝馬セール', mare_list_path         , target: '_blank', tabindex: -1 %>
    <%= link_to '２歳馬セール'  , mating_list_path       , target: '_blank', tabindex: -1 %>
    <%= link_to '馬名候補'      , racer_name_samples_path, target: '_blank', tabindex: -1 %>
  </div>
</div>
