<% ranch = @ranch || @racer&.ranch || @ranch_mare.ranch -%>

<div id="top_bar" class="<%= top_bar_class %> <%= ranch.week == 4 ? 'month_changing' : '' %>">
  <div class="date">
    <span id="date">
      <%= date_display(ranch) %>
    </span>
    <% if @ranch -%>
      <%= button_to_next_week(@ranch) %>
    <% end -%>

    <% max_racers = ranch.max_racers
       vacancy = max_racers - Racer.num_in_ranch
       n_few = (max_racers.to_f / 6).ceil -%>
    <span class="vacancy_in_ranch <%= vacancy.zero? ? 'none' : vacancy <= n_few ? 'few' : '' %>">
      <%= "空き #{vacancy} / #{max_racers}" %>
    </span>

    <% max_spa = ranch.max_spa
       vacancy = max_spa - Racer.num_in_spa
       n_few = 1 -%>
    <span class="vacancy_in_ranch <%= vacancy.zero? ? 'none' : vacancy <= n_few ? 'few' : '' %>">
      <%= "温泉 #{vacancy} / #{max_spa}" %>
    </span>
  </div>

  <div class="links">
    <%= link_to '繁殖牝馬'        , mares_path                       , target: '_blank', tabindex: -1 %>
    <%= link_to '繁殖牝馬セール'  , mare_list_path(ranch_id: ranch)  , target: '_blank', tabindex: -1 %>
    <%= link_to '２歳馬セール'    , mating_list_path(ranch_id: ranch), target: '_blank', tabindex: -1 %>
    <%= link_to '海外種牡馬リース', ranch_sires_path(ranch_id: ranch), target: '_blank', tabindex: -1 %>
    <%= link_to '馬名候補'        , racer_name_samples_path          , target: '_blank', tabindex: -1 %>
  </div>
</div>
