<% ranch = ranch_sire.ranch
   sire  = ranch_sire.sire -%>

<div class="_ranch_sire">
  <div class="sire">
    <table class="table_base">
      <thead>
        <tr>
          <th>
          <% sire_trait_names.each do |name| -%>
            <th><%= sire_trait_human_abbr(name) %></th>
          <% end -%>
          <th colspan="4">面白系統</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= sire.name %></td>
          <% trait = sire.trait -%>
          <% sire_trait_names.each do |name| -%>
            <% value = trait.send(name) -%>
            <td class="<%= "#{name}-#{value}" %> <%= name == :fee ? 'numeric' : 'centered' %>"
                aria-label="<%= "ニックス: #{nicks_linenage_display(trait.lineage, 'なし')}" %>">
              <%= value %>
            </td>
          <% end -%>
          <% sire.root_lineage_numbers.each do |number| -%>
            <td class="root_lineage_number"><%= number %></td>
          <% end -%>
        </tr>
      </tbody>
    </table>

    <div class="year_left">
      <span class="year_left"><%= ranch_sire.year_left %></span>
    </div>

    <div class="actions">
      <%= button_to '削除', ranch_sire, method: :delete, params: {ranch_id: @ranch}, tabindex: -1 %>
    </div>
  </div>

  <table class="table_base">
    <thead>
      <tr>
        <th colspan="2">
        <% mare_trait_names.each_with_index do |name, index| -%>
          <th class="<%= index.zero? ? 'border_left_thick' : '' %>">
            <%= Mare.human_attribute_name(name) %>
          </th>
        <% end -%>
        <th colspan="5">過去５年産駒</th>
        <th>受胎</th>
        <th class="border_left_thick">点</th>
        <th>ニ</th>
        <th>面</th>
        <th colspan="4">面白系統</th>
        <th>インブリード</th>
      </tr>
    </thead>
    <tbody>
      <% Mare.in_ranch_including_future(ranch).each do |mare| -%>
        <% mating = Mating.new(mare, sire)
           is_nicks       = mating.nicks?
           is_interesting = mating.interesting?
           score          = mating.score
           ranch_mare = mare.ranch_mare -%>
        <tr>
          <td><%= mare %></td>
          <td class="age"><%= (ranch_mare || mare.racer_before_retire).age %></td>
          <% mare_trait_names.each_with_index do |name, index| -%>
            <td class="<%= %i[price speed stamina].include?(name) ? 'numeric' : 'centered' %>
                       <%= index.zero? ? 'border_left_thick' : '' %>">
              <%= mare.send(name) %>
            </td>
          <% end -%>
          <% if ranch_mare -%>
            <% (-4 .. 0).each do |diff_year| -%>
              <% birth_piece = mare.racers.find_by(year_birth: ranch.year + diff_year) -%>
              <td class="<%= birth_piece&.sex %>" aria-label="<%= birth_piece %>">
                <%= birth_piece ? (birth_piece.male? ? '牡' : '牝')
                                : ranch_mare.expecting? && diff_year.zero? ? '〇' : '－' %>
              </td>
            <% end -%>
            <% if ranch_mare.sire -%>
              <td class="<%= ranch_mare.child_status %>"><%= ranch_mare.sire %></td>
            <% else -%>
              <td class="centered">（空胎）</td>
            <% end -%>
          <% else -%>
            <td colspan="6">
          <% end -%>
          <td class="numeric <%= score < 0 ? 'negative_score' : score >= 20 ? 'excellent_score' : '' %>
                     border_left_thick">
            <%= score %>
          </td>
          <td class="centered <%= is_nicks ? 'nicks' : '' %>">
            <%= is_nicks ? '〇' : '' %>
          </td>
          <td class="centered <%= is_interesting ? 'interesting' : '' %>">
            <%= is_interesting ? '〇' : '' %>
          </td>
          <% mating.root_lineage_numbers.each do |number| -%>
            <td class="root_lineage_number"><%= number %></td>
          <% end -%>
          <td class="allows_wrap">
            <%= mating.inbreed_display.yield_self { |x| x.blank? ? '（アウトブリード）' : x } %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
