<div class="ranch_sires_index">
  <% @ranch_sires.each do |ranch_sire| -%>
    <%= render ranch_sire %>
    <hr>
  <% end -%>

  <div class="actions">
    <%= form_with url: ranch_sires_path, local: true do |f| %>
      <div class="field">
        <input type="search" name="sire" value="" autocomplete="on" list="sire_candidates" autofocus="true">
          <%= @sire %>
        </input>
      </div>
      <%= f.hidden_field :ranch_id, value: @ranch.id %>

      <%= f.submit %>
    <% end -%>
  </div>
</div>

<%= render 'sire_candidates' %>
