<!DOCTYPE html>
<html>
  <head>
    <title><%= @html_title || 'Derst' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if %w[ranches racers].include?(controller.controller_name) -%>
      <%= render 'top_bar' %>
    <% end -%>

    <%= yield %>

    <%= render 'progress_dialog' %>
  </body>
</html>
